<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h5 class="mb-3 text-primary">Demonstração das Atividades</h5>
            {% include "core/statistics/table_demonstration.html" %}
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h5 class="mb-3 text-primary">Balanço dos leads</h5>
            {% include "core/statistics/table_balance.html" with table=table_balance %}
        </div>
    </div>
</div>
