<table class="table table-bordered table-striped table-responsive">
    <thead>
    <tr>
        <th scope="col">Descrição da Variável</th>
        <th scope="col">Valores</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td>Contatos Processados</td>
            <td>120</td>
        </tr>

        <tr>
            <td>Contatos que Atenderam</td>
            <td>40</td>
        </tr>

        <tr>
            <td>Apresentações</td>
            <td>10</td>
        </tr>

        <tr>
            <td>Vendas Ganhas</td>
            <td>3</td>
        </tr>

    </tbody>
</table>