<table class="table table-bordered table-striped table-responsive">
    <thead>
    <tr>
        <th scope="col">Descrição da Variável</th>
        <th scope="col">Valores</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td>Quantidade totais de leads</td>
            <td>1500</td>
        </tr>
        
        <tr>
            <td>Quantidade totais de leads em aberto</td>
            <td>700</td>
        </tr>

        <tr>
            <td>Leads processados</td>
            <td>800</td>
        </tr>

        <tr>
            <td>Apresentações</td>
            <td>150</td>
        </tr>

        <tr>
            <td>Vendas Ganhas</td>
            <td>70</td>
        </tr>

    </tbody>
</table>