{% load widget_tweaks %}

<form method="post" action="{% url 'leads:upload' %}" enctype="multipart/form-data" class="bg-light border border-primary p-4 rounded">
    
    <div class="form-group">
        <h1 class="h4 mb-3">Upload de Contatos</h1>
    </div>

    {% csrf_token %}

    {% include "core/fields_widgets/input_datetime_local.html" with field=form.referring_datetime %}

    {% include "core/fields_widgets/input_default.html" with field=form.gmt %}

    {% include "core/fields_widgets/input_default.html" with field=form.name %}

    {% include "core/fields_widgets/input_default.html" with field=form.lead %}

    {% include "core/fields_widgets/input_default.html" with field=form.short_description %}
    
    {% include "core/fields_widgets/input_default.html" with field=form.location %}

    <div class="form-group">

        <label for="{{ form.vcf_files.id_for_label }}">
            {{ form.vcf_files.label }}
        </label>

        {% if not form.vcf_files.errors %}
            {{ form.vcf_files|attr:"multiple"|add_class:'form-control-file' }}
        {% else %}
            {{ form.vcf_files|attr:"multiple"|add_class:'form-control-file is-invalid' }}
        {% endif %}

        <div class="invalid-feedback">{{ form.vcf_files.errors }}</div>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-block btn-success">Carregar Contatos</button>
    </div>

</form>
