{% include "leads/qualified/nav.html" %}

<div class="container-fluid">
    <div class="container p-3">
        
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 px-0">
                <h1 class="w-100 text-center h3 text-white">Aprenda inglês online. 100% real. 100% digital.</h1>
                <h2 class="w-100 text-center mt-3 h5 text-white">Estude inglês no seu ritmo e de onde estiver.</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                {% include "leads/qualified/add/form.html" %}
            </div>
        </div>

    </div>
</div>