<div class="container mt-3">
    <div class="row">
        {% include "academy/core/section_card.html" with title="Apresentação" %}
        {% include "academy/core/section_card.html" with title="Conexão" %}
        {% include "academy/core/section_card.html" with title="Decisão Imediata" %}
        {% include "academy/core/section_card.html" with title="Speech" %}
        {% include "academy/core/section_card.html" with title="Fechamento" %}
        {% include "academy/core/section_card.html" with title="Referidos" %}
        {% include "academy/core/section_card.html" with title="Validação" %}
        {% include "academy/core/section_card.html" with title="Entrevistas" %}
        {% include "academy/core/section_card.html" with title="Scritps de Entrevistas" %}
    </div>
</div>