<div class="col-12">
    <ul class="list-group">
        <li class="list-group-item">1.0) Apresentação</li>
        <li class="list-group-item">2.0) Conexão</li>
        <li class="list-group-item">3.1) Pré-DI</li>
        <li class="list-group-item">3.2) DI</li>
        <li class="list-group-item">4.0) Speech</li>
        <li class="list-group-item">5.1) DI Fechamento</li>
        <li class="list-group-item">5.2) Fechamento</li>
        <li class="list-group-item">6.0) Validação</li>
        <li class="list-group-item">7.0) Pós-Venda</li>
        <li class="list-group-item">10.1) Posicionamento</li>
        <li class="list-group-item">10.2) Desprezo</li>
        <li class="list-group-item">10.3) Tirar a Vaga</li>
    </ul>
</div>