{% load crispy_forms_tags %}

<div class="row">

    <div class="col-12">
        <p class="h5 mb-3"><strong>Lead:</strong>
            <a href="{% url 'leads:update' event.lead.id %}">
                {{event.lead}}
            </a>
        </p>    
    </div>

    <div class="col-12">
        {{ form.summary|as_crispy_field }}
    </div>

    <div class="col-12">
        {{ form.start_datetime|as_crispy_field }}
    </div>

    <div class="col-12">
        {{ form.done|as_crispy_field }}
    </div>

    <div class="col-12">
        {{ form.note|as_crispy_field }}
    </div>

</div>
