.idea/
.vscode
.sales/
db.sqlite3
venv
/staticfiles
/media
/private
__pycache__
.env
.note.txt
pyvenv.cfg
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
