<div class="container">
    <div class="row mt-3">
        <div class="col-12">

            <div class="bolder-border rounded p-3">
                <h1 class="h5 w-100 text-center mb-0"><strong>Welcome!</strong></h1>
            </div>
            
            <div class="bolder-border rounded p-3 mt-3">
                <blockquote class="blockquote mb-0 p-0">
                    <p class="mb-2">Prossiga em busca de seu alvo, afaste os pensamentos tóxicos e confie no processo. Aí está o sucesso.</p>
                    <p class="mb-2">Todo restante roubará sua paz e tentará te jogar na lata de lixo do fracasso.</p>
                    <p class="mb-2">Força, Guerreiros!</p>
                    <footer class="blockquote-footer"> <cite title="Source Title">Flávio Augusto</cite></footer>
                </blockquote>
            </div>

        </div>
    </div>
</div>