<div class="row">
    {% if events %}
        {% for event in events %}
            {% include 'leads/list/list_card.html' with lead=event.lead %}
        {% endfor %}
    {% else %}
        <div class="col-12">
            <div class="alert alert-danger bolder-border" role="alert">
                <h6 class="text-danger mb-0 p-0">
                    <strong>Não há eventos.</strong>
                </h6>
            </div>
        </div>
    {% endif %}
</div>

{% include "core/tools/pagination.html" with page=events %}