{% include "academy/core/page_sub_title.html" with page_sub_title="Séries" %}

<div class="row">
    <div class="col-12">

        <div class="text-group mb-3">
            <p class="m-0 p-0"><strong>Agora eu vou detalhar para você como são esses conteúdos dessas séries que estão dentro da plataforma.</strong></p>
        </div>
        
        <div class="text-group mb-3">
            <h4 class="mb-3 text-primary">Corporativo / Empresarial / Carreira</h5>
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Negociação" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Inovação" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Cultura Corporativa" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Gestão de Projetos" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Apresentar um projeto" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Comunicação Empresarial" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Gestão de Pessoas" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Gestão de Crise" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="mb-0" title="Liderança de equipe" %}
        </div>

        <div class="text-group mb-3">
            <h4 class="mb-3 text-primary">Viagens e Vida Pessoal</h5>
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Aeroporto" content="Arrumar a mala, perda de bagagem, processo de imigracao" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Compras" content="" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Cultura Corporativa" content="" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Transporte público" content="Metrô, Ônibus, Uber, Taxi etc" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="" title="Alguel de carro nos EUA" content="" %}
            {% include 'academy/technique/technique_4/speech/series_item.html' with class="mb-0" title="Restaurante" content="Como ler o cardário, pedir a conta, gorjetas, chamar o garçom etc" %}
        </div>

    </div>
</div>