<table id="{{table.id}}" class="table table-striped table-dark table-bordered">
    <thead>
        <tr>
            <th class="text-center" scope="col" colspan="{{table.columns|length}}">
                <h2 class="h5 p-0 m-0 w-100">{{table.title}}</h2>
            </th>
        </tr>
        <tr class="text-center">
            {% for item in table.columns %}
                <th scope="col">{{item}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in table.rows %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                    <td>{{item.title}}</td>
                <td class="text-center">{{item.value}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>