<div class="tab-pane border border-dark rounded p-3" id="nav-activities" role="tabpanel" aria-labelledby="nav-activities-tab">
    <div class="mt-0">
        {% if activities %}
        <h6 class="text-success mb-3">Atividades relacionadas com esse lead</h6>
        <div class="row">
            {% for activity in activities %}
                    {% include "leads/update/tab/tab_activities_activity.html" %}
            {% endfor %}
        </div>
        {% else %}
            <h6 class="text-danger m-0 p-m">Não há atividades registradas.</h6>
        {% endif %}
    </div>
</div>
