{% load core_extras %}
{% load leads_extras %}

<div class="row mb-2 mt-3">
    <div class="col-12">
        <a href="referrers_info.url" class="h6 text-secondary">{{referrers_info}}</a>
    </div>
</div>

<div class="row mb-3">

    <div class="col-4">
        <a role="button" 
            id="leads-call-phone-btn" href="{% link_to_call_lead lead %}" 
            class="btn btn-lg btn-block btn-primary text-center">
            {% btn_svg_icons 'bootstrap' 'telephone-outbound-fill' '25px' 'center' '' %}
        </a>
    </div>
    
    <div class="col-4">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% link_whats_open lead %}" 
            class="btn btn-lg btn-block btn-primary text-center">
            {% btn_svg_icons 'custom' 'whatsapp-fill' '25px' 'center' '' %}
            </a>
    </div>

    <div class="col-4">
        <button id="leads-form-submit-btn" type="submit" class="btn btn-lg btn-block btn-success">
            {% btn_svg_icons 'google' 'save' '25px' 'center' '' %}
        </button>
    </div>

</div>

<form id="leads" method="post" action="{% url 'leads:update' lead.id %}" class="bg-light border border-dark p-3 mt-1 mb-5 rounded">
    
    {% include 'leads/forms/leads_form_fields.html' with form=lead_form %}

</form>