{% csrf_token %}

<div class="row">

    <div class="col-6 col-md-8">
        {% include 'core/inputs/default.html' with field=form.name %}
    </div>
    
    <div class="col-6 col-md-4">
        {% include 'core/inputs/default.html' with field=form.nickname %}
    </div>

    <div class="col-6">
        {% include 'core/inputs/boolean.html' with field=form.priority %}
    </div>

    <div class="col-6">
        {% include 'core/inputs/boolean.html' with field=form.qualified %}
    </div>

</div>

<div class="row">

    <div class="col-12 col-md-6">
        {% include 'core/inputs/default.html' with field=form.status %}
    </div>

    <div class="col-12 col-md-6">
        {% include 'core/inputs/default.html' with field=form.gender %}
    </div>

</div>

<div class="row">

    <div class="col-12 col-md-8">
        {% include 'core/inputs/default.html' with field=form.location %}
    </div>

    <div class="col-12 col-md-4">
        {% include 'core/inputs/default.html' with field=form.gmt %}
    </div>

</div>


<div class="row">

    <div class="col-12 col-md-6">
        {% include 'core/inputs/default.html' with field=form.tel %}
    </div>
    <div class="col-12 col-md-6">
        {% include 'core/inputs/default.html' with field=form.waid %}
    </div>
</div>

{% include 'core/inputs/default.html' with field=form.note %}
