{% load core_extras %}
{% load leads_extras %}

<div class="row mb-3">

    <div class="col-4">
        <a role="button" 
            id="leads-call-phone-btn" href="{% link_to_call_lead lead %}" 
            class="btn btn-block btn-primary text-center">
            {% btn_svg_icons 'bootstrap' 'telephone-outbound-fill' '18px' 'center' 'Ligar' %}
        </a>
    </div>

    <div class="col-4">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% link_whats_open lead %}" 
            class="btn btn-block btn-primary text-center">
            {% btn_svg_icons 'custom' 'whatsapp-fill' '18px' 'center' 'Whats' %}
        </a>
    </div>

    <div class="col-4">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% url 'activities:add-through-lead' lead.id %}?shortcut=nao-atendeu"
            class="btn btn-block btn-dark">
            {% btn_svg_icons 'bootstrap' 'telephone-x-fill' '18px' 'center' 'Falha' %}
        </a>
    </div>

</div>

<div class="row mb-3">

    <div class="col-4">
        <a role="button" 
            id="leads-call-phone-btn"
            href="{% url 'activities:add-through-lead' lead.id %}?shortcut=apresentacao-ganha"
            class="btn btn-block btn-success text-center">
            {% btn_svg_icons 'bootstrap' 'hand-thumbs-up' '25px' 'center' 'Ganhar' %}
        </a>
    </div>

    <div class="col-4">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% url 'activities:add-through-lead' lead.id %}?shortcut=apresentacao-perdida"
            class="btn btn-block btn-danger text-center">
            {% btn_svg_icons 'bootstrap' 'hand-thumbs-down' '25px' 'center' 'Perder' %}
        </a>
    </div>

    <div class="col-4">
        <button id="leads-form-submit-btn" type="submit" class="btn btn-block btn-secondary">
            {% btn_svg_icons 'google' 'save' '25px' 'center' 'Salvar' %}
        </button>
    </div>


</div>