{% csrf_token %}

{% include 'core/inputs/default.html' with field=form.name %}

{% include 'core/inputs/default.html' with field=form.status %}

{% include 'core/inputs/default.html' with field=form.tel %}

{% include 'core/inputs/default.html' with field=form.waid %}

{% include 'core/inputs/default.html' with field=form.note %}

{% include 'core/inputs/default.html' with field=form.next_contact %}

<div class="row">
    <div class="col-6">
        {% include 'core/inputs/boolean.html' with field=form.run_now %}
    </div>
    <div class="col-6">
        {% include 'core/inputs/boolean.html' with field=form.priority %}
    </div>
</div>

<div class="row">
    <div class="col-4">
        {% include 'core/inputs/default.html' with field=form.gmt %}
    </div>
    <div class="col-8">
        {% include 'core/inputs/default.html' with field=form.location %}
    </div>
</div>

{{form.indicated_by.quality.as_hidden}}

{{form.indicated_by.as_hidden}}

{{form.indicated_by_datetime.as_hidden}}
