{% load leads_extras %}

<div class="text-group mb-3">
    <p class="m-0 p-0">Alô <strong>{{lead_first_name}}</strong>!</p>
</div>

<div class="text-group mb-3">
    <p class="m-0 p-0"><strong>{{lead_first_name}}</strong>, aqui é o <strong>Eduardo</strong>, tudo bem!?</p>
</div>

<div class="text-group mb-3">
    <p class="m-0 p-0">Então <strong>{{lead_first_name}}</strong>. A gente não se conhecem, tá! Mas Eu tou te ligando a pedido {% mfb referrer_gender 'do' 'da' %} <strong>{{referrer_name}}</strong>. Você tá {% mfb lead_gender 'tranquilo' 'tranquila' %} agora pra falar?</p>
</div>

<div class="text-group mb-3">
    <p class="m-0 p-0">
        <span class="text-success">
            <strong>VALIDADO:</strong>
        </span><br/>
        <span>
            {% mfb referrer_gender 'O' 'A' %} <strong>{{referrer_name}}</strong> te avisou que eu ia te ligar?
        </span>
    </p>
    <p class="m-0 p-0 mt-1">
        O que {% mfb referrer_gender 'o' 'a' %} <strong>{{referrer_name}}</strong> te falou?
    </p>
</div>

<div class="text-group mb-3">
    <p class="m-0 p-0">
        <strong>{{lead_first_name}}</strong>, eu vou te explicar o porque {% mfb referrer_gender 'o' 'a' %} <strong>{{referrer_name}}</strong> me pediu para eu te ligar
        <br />se fizer sentido para você a gente continua a ligação
        <br/>e se não fizer você pode ficar à vontade para me dizer, tudo bem?
    </p>
</div>

<div class="text-group mb-3">
    <p class="m-0 p-0">
        <span>Eu tou falando aqui da <strong>Wise Up</strong> (que é a maior escola de inglês do Brasil).</span><br/>
    </p>
</div>

{% if referrer_win == 't' %}
<div class="text-group mb-3">
    <p class="m-0 p-0 mb-1 text-danger">
        <mark>
            <strong>Se matriculou</strong>
        </mark>
    </p>
    <p class="m-0 p-0">
        {% mfb referrer_gender 'O' 'A' %} <strong>{{referrer_name}}</strong> se matriculou na nossa plataforma para <strong>aprender inglês online</strong> e {% mfb referrer_gender 'ele' 'ela' %} gostou tanto que me pediu para eu te ligar. Acreditando que você também ia gostar.
    </p>
</div>
{% else %}
<div class="text-group mb-3">
    <p class="m-0 p-0 mb-1 text-danger">
        <mark>
            <strong>Conheceu</strong>
        </mark>
    </p>
    <p class="m-0 p-0">
        {% mfb referrer_gender 'O' 'A' %} <strong>{{referrer_name}}</strong> conheceu a nossa plataforma para <strong>aprender inglês online</strong>. {% mfb referrer_gender 'Ele' 'Ela' %} gostou e me pediu para eu te ligar. Acreditando que você também ia gostar.
    </p>
</div>
{% endif %}

<div class="text-group border border-success">
        <p class="m-0 p-0">
            E <strong>{{lead_first_name}}</strong>, você acha que faz sentido a gente tá conversando sobre o teu inglês?
        </p>
</div>
