<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="mt-3">

                <li class="mb-2">
                    <a  href="">Meu Perfil</a>
                </li>

                <li class="mb-2">
                    <a  href="/admin/leads/whatsapptemplate/">Template de mensagens de WhatsApp</a>
                </li>
                
                <li class="mb-2">
                    <a  href="/admin/integrations/googleapi/">Google Calendar (Configurações)</a>
                </li>

               <li class="mb-2">
                    <a  href="{% url 'integrations:google_calendar:oauth2' %}">Google Calendar (Login)</a>
                </li>
                
                <li class="mb-2">
                    <a  href="{% url 'integrations:google_calendar:oauth2revoke' %}">Google Calendar (Revogar acesso)</a>
                </li>

            </ul>
        </div>
    </div>
</div>
