<div class="container">
    <div class="row">
        <div class="col-12">

            <div>

                <a  href="" class="mb-0 p-0">
                    <div class="rounded bolder-border p-2 mt-3">
                            <strong>Meu Perfil</strong>  
                    </div>
                </a>
            
                <a  href="/admin/leads/whatsapptemplate/" class="mb-0 p-0">
                    <div class="rounded bolder-border p-2 mt-3">
                        <strong>Template de mensagens de WhatsApp</strong>
                    </div>
                </a>

                <a  href="/admin/integrations/googleapi/" class="mb-0 p-0">
                    <div class="rounded bolder-border p-2 mt-3">
                        <strong>Google Calendar (Configurações)</strong>
                    </div>
                </a>

                <a  href="{% url 'integrations:google_calendar:oauth2' %}" class="mb-0 p-0">
                    <div class="rounded bolder-border p-2 mt-3">
                        <strong>Google Calendar (Login)</strong>
                    </div>
                </a>

                <a  href="{% url 'integrations:google_calendar:oauth2revoke' %}" class="mb-0 p-0">
                    <div class="rounded bolder-border p-2 mt-3">
                        <strong>Google Calendar (Revogar acesso)</strong>
                    </div>
                </a>
                
            </div>

        </div>
    </div>
</div>
