{% load widget_tweaks %}

<form method="post" action="{% url 'signup:home' %}" class="bg-light p-4 rounded bolder-border">

    <div class="form-group">
        <h1 class="h3 w-100 text-center mb-3">
            <strong>Formulário de Cadastro</strong>
        </h1>
        <hr class="mb-4">
    </div>

    {% csrf_token %}

    {% include "core/fields_widgets/input_default.html" with field=form.username %}

    {% include "core/fields_widgets/input_default.html" with field=form.name %}

    {% include "core/fields_widgets/input_default.html" with field=form.waid %}

    {% include "core/fields_widgets/input_default.html" with field=form.email %}

    {% include "core/fields_widgets/input_default.html" with field=form.password %}

    {% include "core/fields_widgets/input_default.html" with field=form.password_check %}

    <div class="form-group mb-1 mt-4">
        <button type="submit" class="btn btn-block btn-success">Realizar Cadastro</button>
    </div>

</form>
