container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python sales/manage.py migrate --noinput"
    03_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python sales/manage.py collectstatic --noinput"

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: sales.wsgi:application
