<div class="col-12 col-md-6 col-lg-4">
    <div class="card bolder-border mb-3 w-100">
        <div class="card-body">
            <h5 class="card-title">WOL - Alexandra Carvalho</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <a target="_black" href="/leads/9de9032a-d7eb-4abb-88ba-e06f3be5c42b/update/">Eduardo</a>
            </h6>
            <p class="card-text mb-0"><strong>Início:</strong> 06/Ago/21 às 11:20</p>
            <p class="card-text mb-0"><strong>Fim:</strong> 06/Ago/21 às 11:20</p>
            <p class="card-text mb-0"><strong>Observação:</strong> 1/5</p>
            <a role="button" class="btn btn-success btn-sm btn-block mt-2 mb-0" href="">Abrir</a>
        </div>
    </div>
</div>