<div class="col-12 col-md-6 col-lg-4">
    <div class="card bolder-border mb-3 w-100">
        <div class="card-body">
            <h5 class="card-title">{{event.summary}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {% with event.lead as lead %}
                    {% if lead %}
                        <a  target="_black" href="{% url 'leads:update' lead.id %}">{{lead}}</a>
                    {% else %}
                        <p class="p-0 m-0">Não há leads.</p>
                    {% endif %}
                {% endwith %}
            </h6>

            <p class="card-text mb-0">
                <strong>Início:</strong>
                {% if event.start_datetime %}{{event.start_datetime|date:"d/M/y à\s H:i"}}{% else %}N/A{% endif %}
            </p>

            <p class="card-text mb-0"><strong>Fim:</strong>
                {% if event.end_datetime %}{{event.end_datetime|date:"d/M/y à\s H:i"}}{% else %}N/A{% endif %}
            </p>

            <p class="card-text mb-0"><strong>Observação:</strong>             
                {{event.note|default_if_none:"N/A"}}
            </p>

            <a role="button" class="btn btn-success btn-sm btn-block mt-2 mb-0" href="{% url 'event:event_update' event.id %}">Abrir</a>

        </div>
    </div>
</div>