{% if past_due_activities %}
    <a id="past-due-activities-stripe" href="{% url 'leads:schedules' %}">
        <div class="w-100 text-center bg-danger py-2 text-white">
            <p class="h6 m-0 p-0 py-1">Existem Agendamento Pendentes</p>
        </div>
    </a>
{% endif %}
<nav id="main-navbar" class="navbar fixed-bottom navbar-expand-lg navbar-primary bg-primary text-white container-fluid">
{% include 'core/nav/mobile.html' %}
{% include 'core/nav/desktop.html' %}
</nav>
{% include 'core/nav/search_modal.html' %}