<div id="global-label" class="mt-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0">
                <div class="progress p-0 m-0 rounded-0">
                    <div
                        class="progress-bar {{globallabel}}"
                        role="progressbar"
                        style="width: 100%;"
                        aria-valuenow="100"
                        aria-valuemin="0"
                        aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>