<li class="nav-item d-none d-md-block">
  <a id="search-call-modal-btn" class="nav-link" href="{% url 'leads:list' %}">Buscar</a>
</li>

<li class="nav-item d-none d-md-block {% if nav_name == 'leads_schedules' %}active{% endif%}">
  <a class="nav-link" href="{% url 'leads:lists:schedules' %}">Eventos</a>
</li>

<li class="nav-item d-none d-md-block {% if nav_name == 'leads_referrers' %}active{% endif%}">
  <a class="nav-link" href="{% url 'leads:referrers' %}">Contatos</a>
</li>

<li class="nav-item d-none d-md-block {% if nav_name == 'statistics' %}active{% endif%}">
  <a class="nav-link" href="{% url 'leads:lists:home' %}">Listas</a>
</li>

<li class="nav-item {% if nav_name == 'statistics' %}active{% endif%}">
  <a class="nav-link" href="{% url 'analytics:home' %}">Análises</a>
</li>

<li class="nav-item {% if nav_name == 'settings' %}active{% endif%}">
  <a class="nav-link" href="{% url 'core:settings' %}">Configurações</a>
</li>