<div class="d-flex justify-content-center align-items-center nav-item-item">
  <a class="h6 text-white  p-0 m-0 d-flex flex-wrap justify-content-center align-items-center" href="{% url 'core:home' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
      <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
    </svg>
    <small class="w-100 text-center mt-1">Home</small>
  </a>
</div>

<div class="d-flex justify-content-center align-items-center nav-item-item">
  <a class="h6 text-white  p-0 m-0 d-flex flex-wrap justify-content-center align-items-center" href="{% url 'leads:referrers-1' %}">
    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
    </svg>
    <small class="w-100 text-center mt-1">Contatos</small>
  </a>
</div>

<div class="d-flex justify-content-center align-items-center nav-item-item">
  <a class="h6 text-white p-0 m-0 d-flex flex-wrap justify-content-center align-items-center" href="{% url 'leads:lists:home' %}">
    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="bi bi-card-list">
      <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
      <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
    </svg>
    <small class="w-100 text-center mt-1">Listas</small>
  </a>
</div>

<div class="d-flex justify-content-center align-items-center nav-item-item">
  <a class="h6 text-white p-0 m-0 d-flex flex-wrap justify-content-center align-items-center" href="{% url 'leads:lists:schedules' %}">
    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="bi bi-calendar-event-fill">
      <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
    </svg>
    <small class="w-100 text-center mt-1">Eventos</small>
  </a>
</div>

<div class="d-flex justify-content-center align-items-center nav-item-item">
  <a id="search-call-modal-btn" class="h6 text-white p-0 m-0 d-flex flex-wrap justify-content-center align-items-center" href="{% url 'leads:schedules' %}">
    <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M15.3,13.9l-3.8-3.8l0,0L11.4,10c0.8-1.1,1.2-2.3,1.2-3.8C12.7,2.8,9.8,0,6.3,0S0,2.8,0,6.3s2.8,6.3,6.3,6.3
            c1.4,0,2.7-0.5,3.8-1.2c0,0,0,0.1,0.1,0.1l3.8,3.8c0.4,0.4,1,0.4,1.4,0C15.7,14.9,15.7,14.3,15.3,13.9z M1,6.3C1,3.4,3.4,1,6.3,1
            c3,0,5.4,2.4,5.4,5.4s-2.4,5.4-5.4,5.4C3.4,11.7,1,9.3,1,6.3z"/>
    </svg>
    <small class="w-100 text-center mt-1">Buscar</small>
  </a>
</div>

<div class="d-flex justify-content-center align-items-center nav-item-item">
  <a  class="h6 text-white p-0 m-0 d-flex flex-wrap justify-content-center align-items-center" href="{% url 'analytics:home' %}">
<svg xmlns="http://www.w3.org/2000/svg" width="1.7rem" height="1.7rem" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
  <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
</svg>
    <small class="w-100 text-center mt-1">Análises</small>
  </a>
</div>

<div class="d-flex justify-content-center align-items-center nav-item-item">
  <a  class="h6 text-white p-0 m-0 d-flex flex-wrap justify-content-center align-items-center" href="{% url 'core:settings' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.7rem" height="1.7rem" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
      <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
    </svg>
    <small class="w-100 text-center mt-1">Config.</small>
  </a>
</div>