{% url 'core:home' as home_href %}
{% url 'leads:referrers-1' as contacts_href %}
{% url 'leads:lists:home' as lists_href %}
{% url 'event:event_list_open_next_24h' as events_href %}
{% url 'analytics:select' as analytics_href %}
{% url 'core:settings' as settings_href %}

{% include 'core/nav/nav_items_item.html' with title="Home" href=home_href icon="core/nav/icons/house_door_fill.svg" %}
{% include 'core/nav/nav_items_item.html' with title="Contatos" href=contacts_href icon="core/nav/icons/people_fill.svg" %}
{% include 'core/nav/nav_items_item.html' with title="Listas" href=lists_href icon="core/nav/icons/card_list.svg" %}
{% include 'core/nav/nav_items_item.html' with title="Eventos" href=events_href icon="core/nav/icons/calendar_event_fill.svg" %}
{% include 'core/nav/nav_items_item.html' with title="Buscar" href="search-call-modal-btn" icon="core/nav/icons/search.svg" %}
{% include 'core/nav/nav_items_item.html' with title="Análises" href=analytics_href icon="core/nav/icons/bar_chart_fill.svg" %}
{% include 'core/nav/nav_items_item.html' with title="Config." href=settings_href icon="core/nav/icons/gear_fill.svg" %}