<div id="search-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content border-0">
      <div class="modal-body p-0">

        <form class="bg-light border border-dark p-3 rounded" action="{% url 'leads:list' %}?ok" style="border:5px solid var(--primary)!important;">
        <div class="row">

          <div class="col-12">
              <div class="form-group mt-0">
                <h4 class="h5 w-100 text-center mb-4">Busque pelo Nome, Telefone/Whats</h4>
              </div>
          </div>

            <div class="col-12">
              <div class="form-group">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control form-control-lg rounded"
                    id="id_search_query"
                    name="search_query"
                    value="{{leads_filters_form.search_query.value|default_if_none:''}}">
                  <div class="input-group-prepend ml-2">
                    <div class="input-group-text rounded px-3" id="btn_search_query_group_addon">Paste</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                  <button class="btn btn-success btn-block btn-lg" type="submit">Execute!</button>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group mb-0">
                  <button id="search-modal-clear-btn" class="btn btn-warning btn-block btn-lg" type="button">Clear</button>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group mb-0">
                  <button data-dismiss="modal" aria-label="Close" class="btn btn-secondary btn-block btn-lg" type="button">Close</button>
              </div>
            </div>

          </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>