{% load core_extras %}
{% load leads_extras %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="border border-dark p-2 rounded mb-3">

            <div class="row mb-2">

                <div class="col-6">
                    <a role="button" 
                        id="leads-call-phone-btn"
                        href="{% url 'leads:actions:win' lead.id %}"
                        class="btn btn-block btn-success text-center">
                        {% btn_svg_icons 'bootstrap' 'hand-thumbs-up' '25px' 'center' 'Activities' %}
                    </a>
                </div>

                <div class="col-6">
                    <a role="button" 
                        id="leads-call-whatsapp-btn" 
                        href="{% url 'leads:actions:lost' lead.id %}"
                        class="btn btn-block btn-danger text-center">
                        {% btn_svg_icons 'bootstrap' 'hand-thumbs-down' '25px' 'center' 'Whats' %}
                    </a>
                </div>

            </div>

            <div class="row">

                <div class="col-6">
                    <a role="button" 
                        id="leads-call-phone-btn"
                        href="{% url 'leads:actions:win' lead.id %}"
                        class="btn btn-block btn-success text-center">
                        {% btn_svg_icons 'bootstrap' 'hand-thumbs-up' '25px' 'center' 'Referres' %}
                    </a>
                </div>

                <div class="col-6">
                    <a role="button" 
                        id="leads-call-whatsapp-btn" 
                        href="{% url 'leads:actions:lost' lead.id %}"
                        class="btn btn-block btn-danger text-center">
                        {% btn_svg_icons 'bootstrap' 'hand-thumbs-down' '25px' 'center' 'Delete' %}
                    </a>
                </div>

            </div>

            </div>
        </div>
    </div>
</div>
