{% load leads_extras %}

<div class="col-12 mt-3">
  <div class="p-2 bg-light border border-dark">

    <a role="button" id="leads-call-phone-btn" href="{% link_to_call_lead lead %}" class="btn btn-sm btn-block btn-primary mt-2 mb-1 my-md-0">Ligar Telefone</a>
    
    <a role="button" id="leads-call-whatsapp-btn" href="{% link_whats_open lead %}" class="btn btn-sm btn-block btn-primary mt-2 mb-1 my-md-0 ml-md-3">Ligar/Abrir Whats</a>

    <div class="btn-group d-flex" role="group">
      <button id="defaults-leads-actions" type="button" class="btn btn-sm btn-secondary dropdown-toggle mt-2 mb-1 my-md-0 ml-md-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ações Padrões
      </button>
        <div class="dropdown-menu bg-secondary" aria-labelledby="defaults-leads-actions">
          <a role="button"                  href="{% url 'leads:list' %}" class="dropdown-item text-warning">Voltar para Lista de Leads</a>
          <a role="button"                 href="{% link_to_call_lead lead %}" class="dropdown-item text-warning mt-3">Telefone: Ligar/Discar</a>
          <a role="button" target="_blank" href="{% link_whats_open lead %}" class="dropdown-item text-warning mt-3">Whats: Abrir</a>
          <a role="button" target="_blank" href="{% link_whats_tentei_te_ligar lead %}" class="dropdown-item text-warning mt-3">Whats: Tentei te Ligar</a>
          <a role="button" target="_blank" href="{% link_whats_oi lead %}" class="dropdown-item text-warning mt-3">Whats: Oi</a>
          <a role="button" target="_blank" href="{% link_wise_up_link lead %}" class="dropdown-item text-warning mt-3">Whats: Enviar link da Wise Up Online</a>
          <a role="button" target="_blank" href="{% link_modelo_referido_conheci lead %}" class="dropdown-item text-warning mt-3">Whats: Referido Conheci</a>
          <a role="button" target="_blank" href="{% link_modelo_referido_entrei lead %}" class="dropdown-item text-warning mt-3">Whats: Referido Entrei</a>
        </div>
    </div>

    <div class="btn-group d-flex" role="group">
      <button id="links-shortcuts" type="button" class="btn btn-sm btn-secondary dropdown-toggle ml-0 ml-md-3 mt-2 mt-md-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Links de Atalhos
      </button>
        <div class="dropdown-menu bg-secondary" aria-labelledby="defaults-leads-actions">
          <a href="{% url 'leads:now' %}" class="dropdown-item text-warning">Programação [ NOW ]</a>
          <a href="{% url 'leads:list' %}" class="dropdown-item text-warning mt-3">Todos os leads</a>
          <a href="{% url 'leads:novos-list' %}" class="dropdown-item text-warning mt-3">Novos leads</a>
          <a href="{% url 'leads:add' %}" class="dropdown-item text-warning mt-3">Adicionar novo lead</a>
          <a href="{% url 'leads:leads-em-aberto-list' %}" class="dropdown-item text-warning mt-3">Em aberto</a>
          <a href="{% url 'leads:agendamentos-list' %}" class="dropdown-item text-warning mt-3">Agendamentos</a>
          <a href="{% url 'leads:indicators-list' %}" class="dropdown-item text-warning mt-3">Indicadores</a>
          <a href="{% url 'leads:upload' %}" class="dropdown-item text-warning mt-3">Upload de leads</a>
          <a href="{% url 'core:statistics' %}" class="dropdown-item text-warning mt-3">Estatísticas</a>
          <a href="{% url 'core:settings' %}" class="dropdown-item text-warning mt-3">Configurações</a>
        </div>
    </div>

    <button id="leads-form-submit-btn" type="submit" class="btn btn-sm btn-block btn-success mt-2 my-md-0 ml-0 ml-md-3">Salvar e Continuar</button>

    <button id="leads-form-submit-next-btn" type="submit" class="btn btn-sm btn-block btn-dark mt-2 mb-1 my-md-0 ml-md-3">Salvar + Próximo!</button>
    
    <a role="button" id="leads-next-btn" href="{% url 'leads:next' %}" class="btn btn-sm btn-block btn-dark mt-2 mb-1 my-md-0 ml-md-3">Próximo!</a>

  </div>
</div>
