<div class="col-12 my-3">
    <button type="button" class="btn btn-lg btn-block btn-primary text-left">Telefone: Ligar/Discar</button>
</div>

<div class="col-12 my-3">
    <button type="button" class="btn btn-lg btn-block btn-success text-left">Whats: Abrir</button>
</div>

<div class="col-12 my-3">
    <button type="button" class="btn btn-lg btn-block btn-success text-left">Whats: Tentei te Ligar</button>
</div>

<div class="col-12 my-3">
    <button type="button" class="btn btn-lg btn-block btn-success text-left">Whats: Oi</button>
</div>

<div class="col-12 my-3">
    <button type="button" class="btn btn-lg btn-block btn-success text-left">Whats: Link de Wise Up Online</button>
</div>

<div class="col-12 my-3">
    <button type="button" class="btn btn-lg btn-block btn-success text-left">Whats: Referido (CONHECI)</button>
</div>

<div class="col-12 my-3">
    <button type="button" class="btn btn-lg btn-block btn-success text-left">Whats: Referido (ENTREI)</button>
</div>

{% comment %}
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
{% endcomment %}
