{% load leads_extras %}

<a role="button" id="leads-call-phone-btn" href="{% link_to_call_lead lead %}" class="btn btn-lg btn-block btn-primary mt-3">Discar Telefone</a>

<a role="button" id="leads-call-whatsapp-btn" href="{% link_whats_open lead %}" class="btn btn-lg btn-block btn-primary mt-3">Abrir Whats</a>

<a role="button" id="leads-call-whatsapp-btn" href="{% link_whats_tentei_te_ligar lead %}" class="btn btn-lg btn-block btn-secondary mt-3">Whats: Tentei te Ligar</a>

<a role="button" id="leads-call-whatsapp-btn" href="{% link_whats_oi lead %}" class="btn btn-lg btn-block btn-secondary mt-3">Whats: Oi</a>

<a role="button" id="leads-call-whatsapp-btn" href="{% link_wise_up_link lead %}" class="btn btn-lg btn-block btn-secondary mt-3">Link Afiliado Normal</a>

<a role="button" id="leads-call-whatsapp-btn" href="{% link_wise_up_boleto_link lead %}" class="btn btn-lg btn-block btn-secondary mt-3">Link Afiliado Boleto</a>

<a role="button" id="leads-call-whatsapp-btn" href="{% link_modelo_referido_conheci lead %}" class="btn btn-lg btn-block btn-secondary mt-3">Whats: Referido Conheci</a>

<a role="button" id="leads-call-whatsapp-btn" href="{% link_modelo_referido_entrei lead %}" class="btn btn-lg btn-block btn-secondary my-3 mb-5">Whats: Referido Entrei</a>