{% load core_extras %}
{% load leads_extras %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="border border-dark p-2 rounded mb-3 mt-3">

                <div class="row mb-2">
                    <div class="col-6">
                        <a role="button" 
                            id="leads-call-whatsapp-sc-btn" 
                            href="{% whatsapp_api_link_open lead %}" 
                            class="btn btn-block btn-primary text-center">
                            {% btn_svg_icons 'custom' 'whatsapp-fill' '20px' 'center' 'Whats' %}
                        </a>
                    </div>
                    <div class="col-6">
                        <a role="button" 
                            id="leads-call-phone-sc-btn"
                            href="{% link_to_call_lead lead %}" 
                            class="btn btn-block btn-primary text-center">
                            {% btn_svg_icons 'bootstrap' 'telephone-outbound-fill' '20px' 'center' 'Call' %}
                        </a>
                    </div>
                </div>

                <div class="row mb-2">

                    <div class="col-4">
                        <a role="button" 
                            id="leads-call-whatsapp-btn"
                            href="{% url 'leads:actions:t1' lead.id %}"
                            class="btn btn-block btn-dark">
                            {% btn_svg_icons 'bootstrap' 'telephone-x-fill' '22px' 'center' '1º L' %}
                        </a>
                    </div>

                    <div class="col-4">
                        <a role="button" 
                            id="leads-call-whatsapp-btn"
                            href="{% url 'leads:actions:t2' lead.id %}"
                            class="btn btn-block btn-dark">
                            {% btn_svg_icons 'bootstrap' 'telephone-x-fill' '22px' 'center' '2º L' %}
                        </a>
                    </div>

                    <div class="col-4">
                        <a role="button" 
                            id="leads-call-whatsapp-btn"
                            href="{% url 'leads:actions:t3' lead.id %}"
                            class="btn btn-block btn-dark">
                            {% btn_svg_icons 'bootstrap' 'telephone-x-fill' '22px' 'center' '3º L' %}
                        </a>
                    </div>

                </div>

                <div class="row mb-2">

                    <div class="col-6">
                        <button id='schedule-modal-btn'
                                data-url="{% url 'leads:actions:schedule' lead.id %}"
                                class='btn btn-block bg-secondary text-white text-center'>
                            {% btn_svg_icons 'bootstrap' 'calendar-event-fill' '22px' 'center' 'Schedule' %}
                        </button>                    
                    </div>

                    <div class="col-6">
                        <a role="button" 
                            id="leads-call-whatsapp-btn" 
                            {% comment %} href="{% url 'leads:actions:upload' lead.id %}" {% endcomment %}
                            href="{% url 'leads:upload' %}?lead={{lead.id}}"
                            class="btn btn-block bg-secondary text-white text-center">
                            {% btn_svg_icons 'bootstrap' 'cloud-arrow-up-fill' '25px' 'center' 'Upload' %}
                        </a>
                    </div>

                </div>

                <div class="row">

                    <div class="col-6">
                        <a role="button" 
                            id="leads-call-phone-btn"
                            href="{% url 'leads:actions:win' lead.id %}"
                            class="btn btn-block btn-success text-center">
                            {% btn_svg_icons 'bootstrap' 'hand-thumbs-up' '25px' 'center' 'Win' %}
                        </a>
                    </div>


                    <div class="col-6">
                        <a role="button" 
                            id="leads-call-whatsapp-btn" 
                            href="{% url 'leads:actions:lost' lead.id %}"
                            class="btn btn-block btn-danger text-center">
                            {% btn_svg_icons 'bootstrap' 'hand-thumbs-down' '25px' 'center' 'Lost' %}
                        </a>
                    </div>

                </div>
        </div>
    </div>
</div>