{% load leads_extras %}

{% include "leads/update/status.html" %}
{% include "leads/update/events.html" %}
{% include "leads/update/main.html" %}
{% include "leads/update/relationships.html" %}
{% include "leads/referrers/referrer_item/referrers_simple.html" %}
{% include "leads/update/info.html" %}
{% include "leads/update/modals/lead.html" %}
{% include "leads/update/modals/conversation.html" %}
{% include "leads/update/modals/whatsapp.html" %}
{% include "leads/update/modals/attempts.html" %}
{% include "leads/update/modals/activities.html" %}
{% include "leads/update/modals/referrers.html" %}
{% include "leads/update/and_now/t1.html" %}