{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'leads/update/schedule/gijgo.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
{% include "core/nav.html" %}
{% include "core/page_title.html" %}
{% include "leads/update/content.html" %}
{% endblock %}
{% block js %}
<script src="{% static 'leads/update/schedule/gijgo.min.js' %}"></script>
<script src="{% static 'leads/update.js' %}"></script>
<script src="{% static 'leads/schedule.js' %}"></script>
<script src="{% static 'activities/activities_lead_update.js' %}"></script>
{% endblock %}