{% extends 'core/base.html' %}
{% block content %}
{% include "core/nav.html" %}
{% include "core/page_title.html" %}
{% include "leads/update/content.html" %}
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {

    $('button#leads-form-submit-btn').click(function(e) {
        e.preventDefault();
        $('form#leads').submit();
    });

    checkPosition();
    function checkPosition() {
        if (!window.matchMedia('(max-width: 767px)').matches) {
            $('#defaults-leads-actions').parent().removeClass('d-flex');
            $('#links-shortcuts').parent().removeClass('d-flex');
            $('#leads-form-submit-btn').removeClass('btn-block');
            $('#leads-next-btn').removeClass('btn-block');
        }
    }

});


</script>
{% endblock %}
