{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% include "core/nav.html" %}
<div class="container">
    <div class="row">
        <div class="col-12">
            {% include "leads/update/alert.html" %}
        </div>
    </div>
</div>
{% include "core/page_title.html" %}
{% include "leads/update/content.html" %}
{% endblock %}
{% block js %}
<script src="{% static 'leads/update.js' %}"></script>
<script src="{% static 'activities/activities_lead_update.js' %}"></script>
{% endblock %}
