<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">

    <a  class="nav-link active"
        id="nav-lead-tab"
        data-toggle="tab"
        href="#nav-lead"
        role="tab"
        aria-controls="nav-lead"
        aria-selected="true"><strong>Lead</strong></a>

    <a  class="nav-link"
        id="nav-activities-tab"
        data-toggle="tab"
        href="#nav-activities" 
        role="tab"
        aria-controls="nav-activities"
        aria-selected="false"><strong>Atividades</strong></a>

    <a  class="nav-link"
        id="nav-actions-tab"
        data-toggle="tab"
        href="#nav-actions"
        role="tab"
        aria-controls="nav-actions"
        aria-selected="false"><strong>WhatsApp</strong></a>
    

  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    {% include "leads/update/nav_tabs_tab_pane_leads.html" %}
    {% include "leads/update/nav_tabs_tab_pane_actions.html" %}
    {% include "leads/update/nav_tabs_tab_pane_activities.html" %}
</div>
