{% load core_extras %}
{% load leads_extras %}

<div class="tab-pane mb-5 " id="nav-actions" role="tabpanel" aria-labelledby="nav-actions-tab">

    <a  role="button" id="leads-call-whatsapp-btn" href="{% link_whats_tentei_te_ligar lead %}"
        class="btn btn-lg btn-block btn-secondary text-left mt-3">
        {% btn_svg_icons 'custom' 'whatsapp-fill' '25px' 'left' 'WhatsApp: Pode falar agora?' %}
    </a>

    <a role="button" id="leads-call-whatsapp-btn" href="{% link_whats_oi lead %}" class="btn btn-lg btn-block btn-secondary text-left mt-3">
        {% btn_svg_icons 'custom' 'whatsapp-fill' '25px' 'left' 'WhatsApp: Oi' %}
    </a>

    <a role="button" id="leads-call-whatsapp-btn" href="{% link_wise_up_link lead %}" class="btn btn-lg btn-block btn-secondary text-left mt-3">
        {% btn_svg_icons 'custom' 'whatsapp-fill' '25px' 'left' 'WhatsApp: Link Afiliado Normal' %}
    </a>

    <a role="button" id="leads-call-whatsapp-btn" href="{% link_wise_up_boleto_link lead %}" class="btn btn-lg btn-block btn-secondary text-left mt-3">
        {% btn_svg_icons 'custom' 'whatsapp-fill' '25px' 'left' 'WhatsApp: Link Afiliado Boleto' %}
    </a>

    <a role="button" id="leads-call-whatsapp-btn" href="{% link_modelo_referido_conheci lead %}" class="btn btn-lg btn-block btn-secondary text-left mt-3">
        {% btn_svg_icons 'custom' 'whatsapp-fill' '25px' 'left' 'WhatsApp: Referido Conheci' %}
    </a>

    <a role="button" id="leads-call-whatsapp-btn" href="{% link_modelo_referido_entrei lead %}" class="btn btn-lg btn-block btn-secondary text-left my-3 mb-5">
        {% btn_svg_icons 'custom' 'whatsapp-fill' '25px' 'left' 'WhatsApp: Referido Entrei' %}
    </a>

</div>
