<div class="tab-pane" id="nav-activities" role="tabpanel" aria-labelledby="nav-activities-tab">
    <a role="button" href="#" class="btn btn-lg btn-block btn-primary mt-3 text-left">Não atendeu (tentanto)</a>
    <a role="button" href="#" class="btn btn-lg btn-block btn-primary mt-3 text-left">Agendamento</a>
    <a role="button" href="#" class="btn btn-lg btn-block btn-primary mt-3 text-left">Sem interesse</a>
    <a role="button" href="#" class="btn btn-lg btn-block btn-primary mt-3 text-left">Sem dinheiro</a>
    <a role="button" href="#" class="btn btn-lg btn-block btn-primary mt-3 text-left">Contato inválido</a>
    <a role="button" href="#" class="btn btn-lg btn-block btn-success mt-3 text-left">Apresentação Realizada</a>
</div>