<div class="mt-3 mb-5">
    {% if activities %}
    <h6 class="text-success mb-3">Atividades relacionadas com esse lead</h6>
    <table id="activities-table-list" class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
        <th scope="col">Criação</th>
        <th scope="col">Assunto</th>
        <th scope="col">Tipo</th>
        <th scope="col">Vencimento</th>
        <th scope="col">Feita?</th>
        <th scope="col">Anotações</th>
        </tr>
    </thead>
    <tbody>
    {% for activity in activities %}
        <tr>
        <td>{{activity.created_at|date:"d/m/y"}} {{ activity.created_at|time:"H:i" }}</td>
        <td><a href="{% url 'activities:update' activity.id %}">{{activity.subject|truncatechars:35}}</a></td>
        <td>{{activity.get_type_display}}</td>
        <td>{{activity.due_date|date:"d/m/y"}} {{ activity.due_date|time:"H:i" }}</td>
        <td>{% if activity.done %}Sim{% else %}Não{% endif %}</td>
        <td>{{activity.note|truncatechars:40}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <h6 class="text-danger mb-3">Não há atividades relacionadas com esse lead</h6>
    {% endif %}
</div>
