{% load leads_extras %}

<div class="row mb-2 mt-3">
    {% for referrer in lead|get_referrers_from_lead %}
        <div class="col-12 {% if forloop.counter0 != 0 %}mt-2{% endif %} mb-2">
            <div class="border border-dark p-3 rounded ">
                <div class="d-flex flex-wrap justify-content-left align-items-center">
                    
                    <div class="w-100">
                        <p class="">
                            <strong>Referenciador:</strong>
                            <br/>
                            {% if referrer.lead %}
                                <a target="_black" href="{% url 'leads:update' referrer.lead.id %}">{{referrer.lead.name}}</a>
                            {% else %}
                                {{referrer.name}}
                            {% endif %}
                        </p>
                    </div>
                    
                    <div class="w-100">
                        <p class=""><strong>Data da indicação:</strong><br/>{{referrer.referring_datetime|date:"d/M/y à\s H:i"}}</p>
                    </div>
                    
                    <div class="w-100">
                        <p class=""><strong>Descrição da linha:</strong><br/>{{referrer.short_description}}</p>
                    </div>

                    <div class="w-100 d-none d-md-flex flex-wrap justify-content-left align-items-center">
                        <a role="btn" href="{% url 'leads:leads_referrers_opened' referrer.id %}" class="btn btn-sm btn-warning"><strong>Abertos ({{referrer|get_opened_leads|length}})</strong></a>
                        <a role="btn" href="{% url 'leads:leads_referrers_news' referrer.id %}" class="btn btn-sm btn-warning ml-4"><strong>Novos ({{referrer|get_news_leads|length}})</strong></a>
                        <a href="{% url 'leads:leads_referrers_tentando' referrer.id %}" class="btn btn-sm btn-warning ml-4"><strong>Tentanto ({{referrer|get_tentanto_leads|length}})</strong></a>
                    </div>

                    <div class="w-100 d-flex d-md-none flex-wrap justify-content-between align-items-center">
                        <div class="row">

                            <div class="col-4">
                                <a role="button" href="{% url 'leads:leads_referrers_all' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small><strong>Todos ({{referrer.leads.count}})</strong></small>
                                </a>                
                            </div>

                            <div class="col-4">    
                                <a role="button" href="{% url 'leads:leads_referrers_closed' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Fechad. ({{referrer|get_closed_leads|length}})</strong>
                                    </small>
                                </a>
                            </div>

                            <div class="col-4">    
                                <a role="button" href="{% url 'leads:leads_referrers_opened' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Abert. ({{referrer|get_opened_leads|length}})</strong>
                                    </small>
                                </a>
                            </div>

                            <div class="col-4 mt-3">    
                                <a role="button" href="{% url 'leads:leads_referrers_news' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small><strong>Novos ({{referrer|get_news_leads|length}})</strong></small>
                                </a>
                            </div>

                            <div class="col-4 mt-3">
                                <a href="{% url 'leads:leads_referrers_tentando' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Tentan. ({{referrer|get_tentanto_leads|length}})</strong>
                                    </small>
                                </a>    
                            </div>

                            <div class="col-4 mt-3">
                                <a href="{% url 'leads:leads_referrers_agendamento' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Agend. ({{referrer|get_agendamento_leads|length}})</strong>
                                    </small>
                                </a>    
                            </div>

                            <div class="col-4 mt-3">
                                <a href="{% url 'leads:leads_referrers_follow_up' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Follow ({{referrer|get_follow_up_leads|length}})</strong>
                                    </small>
                                </a>
                            </div>

                            <div class="col-4 mt-3">    
                                <a role="button" href="{% url 'leads:leads_referrers_perdido' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Perdid. ({{referrer|get_perdido_leads|length}})</strong>
                                    </small>
                                </a>
                            </div>

                            <div class="col-4 mt-3">    
                                <a role="button" href="{% url 'leads:leads_referrers_ganho' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Ganhos ({{referrer|get_ganho_leads|length}})</strong>
                                    </small>
                                </a>
                            </div>

                            <div class="col-12 mt-3">
                                <a 
                                href="{% url 'leads:leads_referrers_next' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Next</strong>
                                    </small>
                                </a>
                            </div>

                            {% comment %}
                            <div class="col-6 mt-3">
                                <a href="{% url 'leads:leads_referrers_tentando' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Next</strong>
                                    </small>
                                </a>
                            </div>

                            <div class="col-6 mt-3">    
                                <a role="button" href="{% url 'leads:leads_referrers_news' referrer.id %}"
                                class="btn btn-sm btn-block btn-warning">
                                    <small>
                                        <strong>Referencidor</strong>
                                    </small>
                                </a>
                            </div>
                            {% endcomment %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
