{% load leads_extras %}

<div class="row mb-2 mt-3">
    {% for referrer in lead|get_referrers_from_lead %}
        <div class="col-12 {% if forloop.counter0 != 0 %}mt-2{% endif %} mb-2">
            <div class="border border-dark p-3 rounded ">
                <div class="d-flex flex-wrap justify-content-left align-items-center">
                    
                    <div class="w-100">
                        <p class=""><strong>Referenciador:</strong><br/>{{referrer.name}}</p>
                    </div>

                    <div class="w-100">
                        <p class=""><strong>Data da indicação:</strong><br/>{{referrer.referring_datetime|date:"d/M/y à\s H:i"}}</p>
                    </div>

                    <div class="w-100">
                        <p class=""><strong>Descrição da linha:</strong><br/>{{referrer.short_description}}</p>
                    </div>

                    <div class="w-100 d-none d-md-flex flex-wrap justify-content-left align-items-center">
                        <a role="btn" href="{% url 'leads:leads_referrers_opened' referrer.id %}" class="btn btn-sm btn-warning"><strong>Abertos ({{referrer|get_opened_leads|length}})</strong></a>
                        <a role="btn" href="{% url 'leads:leads_referrers_news' referrer.id %}" class="btn btn-sm btn-warning ml-4"><strong>Novos ({{referrer|get_news_leads|length}})</strong></a>
                        <a href="{% url 'leads:leads_referrers_tentando' referrer.id %}" class="btn btn-sm btn-warning ml-4"><strong>Tentanto ({{referrer|get_tentanto_leads|length}})</strong></a>
                    </div>

                    <div class="w-100 d-flex d-md-none flex-wrap justify-content-between align-items-center">
                        <a role="btn" href="{% url 'leads:leads_referrers_opened' referrer.id %}" class="btn btn-sm btn-warning"><strong>Abertos ({{referrer|get_opened_leads|length}})</strong></a>
                        <a role="btn" href="{% url 'leads:leads_referrers_news' referrer.id %}" class="btn btn-sm btn-warning"><strong>Novos ({{referrer|get_news_leads|length}})</strong></a>
                        <a href="{% url 'leads:leads_referrers_tentando' referrer.id %}" class="btn btn-sm btn-warning"><strong>Tentanto ({{referrer|get_tentanto_leads|length}})</strong></a>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>
