{% load core_extras %}
{% load leads_extras %}

<div id="lead-update-relationships" class="container">
    <div id="lead-update-relationships-wrapper" class="p-3 rounded mb-3 mt-3">

        <div class="row mb-2">
            <div class="col-6">
                <button
                    data-target="#activities-modal"
                    data-toggle="modal"
                    id="activities-modal-btn"
                    class="btn btn-block btn-secondary text-white text-center">
                    {% btn_svg_icons 'bootstrap' 'list-task' '25px' 'center' 'Atividades' %}
                </button>
            </div>
            <div class="col-6">
                <button
                    data-target="#referrers-modal"
                    data-toggle="modal"
                    id="referrers-modal-btn"
                    class="btn btn-block btn-secondary text-white text-center">
                    {% btn_svg_icons 'bootstrap' 'hand-index-thumb-fill' '25px' 'center' 'Refs.' %}
                </button>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6">
                <button
                    data-target="#lead-form-modal"
                    data-toggle="modal"
                    id="lead-form-modal-btn"
                    class="btn btn-block btn-secondary text-white text-center">
                    {% btn_svg_icons 'bootstrap' 'file-earmark-text-fill' '25px' 'center' 'Editar' %}
                </button>
            </div>
            <div class="col-6">
                <a role="button" 
                    id="leads-call-whatsapp-btn" 
                    href="{% url 'leads:actions:add' lead.id %}"
                    class="btn btn-block btn-secondary text-white text-center">
                    {% btn_svg_icons 'bootstrap' 'cloud-arrow-up-fill' '25px' 'center' 'Add Leads' %}
                </a>
            </div>
        </div>

    </div>
</div>