{% load core_extras %}
{% load leads_extras %}

<div class="row mb-2">
    <div class="col-12">
        <button
            data-target="#whatsapp-modal"
            data-toggle="modal"
            id="whatsapp-modal-btn"
            class="btn btn-block bg-secondary text-white text-center">
            {% btn_svg_icons 'custom' 'whatsapp' '25px' 'center' 'Enviar Mensagem via WhatsApp' %}
        </button>
    </div>
    <div class="col-6 mt-2">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% url 'leads:upload' %}?lead={{lead.id}}"
            class="btn btn-block bg-secondary text-white text-center">
            {% btn_svg_icons 'bootstrap' 'cloud-arrow-up-fill' '25px' 'center' 'Atividades' %}
        </a>
    </div>
    <div class="col-6 mt-2">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% url 'leads:upload' %}?lead={{lead.id}}"
            class="btn btn-block bg-secondary text-white text-center">
            {% btn_svg_icons 'bootstrap' 'cloud-arrow-up-fill' '25px' 'center' 'Refs' %}
        </a>
    </div>
</div>

<div class="row mt-2">
    <div class="col-6">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% url 'leads:upload' %}?lead={{lead.id}}"
            class="btn btn-block bg-secondary text-white text-center">
            {% btn_svg_icons 'bootstrap' 'cloud-arrow-up-fill' '25px' 'center' 'Lead' %}
        </a>
    </div>
    <div class="col-6">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% url 'leads:upload' %}?lead={{lead.id}}"
            class="btn btn-block bg-secondary text-white text-center">
            {% btn_svg_icons 'bootstrap' 'cloud-arrow-up-fill' '25px' 'center' 'Upload' %}
        </a>
    </div>
</div>