{% load core_extras %}
{% load leads_extras %}

<div class="row mb-2">
    <div class="col-12">
        <button data-toggle="modal" data-target="#conversation-modal" id="registration-call-modal-btn"
                class="btn btn-block btn-primary">
                {% btn_svg_icons 'custom' 'conversation' '22px' 'center' 'Registrar Ligação Atendida' %}
        </button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <button data-toggle="modal" data-target="#attempts-modal" id="attempts-call-modal-btn"
                class="btn btn-block btn-dark">
                {% btn_svg_icons 'custom' 'conversation' '22px' 'center' 'Registrar Tantativas' %}
        </button>
    </div>
</div>
