{% load core_extras %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="border border-dark p-2 rounded mt-3 mt-md-2">
                <div class="row">
                    <div class="col-6">
                        <a role="button" 
                            id="leads-call-phone-sc-btn"
                            href="{{lead.get_call_link}}"
                            class="btn btn-block btn-success text-center">
                            {% btn_svg_icons 'bootstrap' 'telephone-outbound-fill' '20px' 'center' 'Ligar' %}
                        </a>
                    </div>
                    <div class="col-6">
                        <a role="button" 
                            id="leads-call-whatsapp-sc-btn" 
                            href="{{lead.get_whatsapp_link}}"
                            class="btn btn-block btn-success text-center">
                            {% btn_svg_icons 'custom' 'whatsapp-fill' '20px' 'center' 'Whats' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>