{% load core_extras %}
{% load leads_extras %}

<div class="row">

    <div class="col-6">
        <a role="button" 
            id="leads-call-phone-btn"
            href="{% url 'leads:actions:win' lead.id %}"
            class="btn btn-block btn-success text-center">
            {% btn_svg_icons 'bootstrap' 'hand-thumbs-up' '25px' 'center' 'Win' %}
        </a>
    </div>

    <div class="col-6">
        <a role="button" 
            id="leads-call-whatsapp-btn" 
            href="{% url 'leads:actions:lost' lead.id %}"
            class="btn btn-block btn-danger text-center">
            {% btn_svg_icons 'bootstrap' 'hand-thumbs-down' '25px' 'center' 'Lost' %}
        </a>
    </div>

</div>