<div class="container mt-3">
    <div class="row">
        {% include "academy/audio.html" with class="" title="Wendrio Bicaio" src="https://edu-fontes.s3-eu-west-1.amazonaws.com/speechs/1_wendrio_bicaio.mp3" %}
        {% include "academy/audio.html" with class="" title="Tayana Carvalho" src="https://edu-fontes.s3-eu-west-1.amazonaws.com/speechs/2_tayana_carvalho.mp3" %}
        {% include "academy/audio.html" with class="" title="Tarek Omar" src="https://edu-fontes.s3-eu-west-1.amazonaws.com/speechs/3_tarek_omar.mp3" %}
        {% include "academy/audio.html" with class="" title="Mariana Nascimento" src="https://edu-fontes.s3-eu-west-1.amazonaws.com/speechs/4_mariana_nascimento.mp3" %}
        {% include "academy/audio.html" with class="" title="Wendrio Bicaio 2" src="https://edu-fontes.s3-eu-west-1.amazonaws.com/speechs/5_wendrio_bicaio.mp3" %}
        {% include "academy/audio.html" with class="mb-0" title="Roberto Korea (DI)" src="https://edu-fontes.s3-eu-west-1.amazonaws.com/speechs/6_roberto_korea.mp3" %}
    </div>
</div>