<div id="activities-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title h5 w-100 text-center text-dark">Atividades</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if activities %}
        <h6 class="text-success mb-3">Atividades relacionadas com esse lead</h6>
        <div class="row">
            {% for activity in activities %}
              <div class="col-12">
                  <div class="card border border-dark w-100 mb-3">
                      <div class="card-body p-3">
                          <h5 class="card-title text-info mb-3">
                              {{activity.subject}}
                          </h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{activity.note|default_if_none:""}}</h6>
                          <p class="card-text mb-1"><strong>Criado em</strong> {{activity.created_at|date:"d/m/y"}} {{ activity.created_at|time:"H:i" }}</p>
                          <p class="card-text mb-1"><strong>Vencimento em</strong> {{activity.due_date|date:"d/m/y"}} {{ activity.due_date|time:"H:i" }}</p>
                          <p class="card-text mb-2"><strong>Atividade feita?</strong> {% if activity.done %}Sim{% else %}Não{% endif %}</p>
                          <div class="row mt-0">
                              <div class="col-6">
                                  <a role="button" href="{% url 'activities:update-through-lead' activity.id %}" class="btn btn-block btn-primary">Abrir</a>
                              </div>
                              <div class="col-6">
                                  <a role="button" href="{% url 'leads:actions:activity_delete' lead.id activity.id %}" class="btn btn-block btn-danger">Apagar</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            {% endfor %}
        </div>
        {% else %}
            <h6 class="h5 text-danger m-0 p-m w-100 text-center">Não há atividades registradas para este Lead.</h6>
        {% endif %}
      </div>
    </div>
  </div>
</div>