<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="#">
    <strong>
      Entrevistas
    </strong>
  </a>
</li>

<li class="nav-item d-none">
  <a class="nav-link" href="#">
  7 Passos</a>
</li>

<li class="nav-item dropdown">

  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    7 Passos
  </a>

  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="#">Apresentação</a></li>
    <li><a class="dropdown-item" href="#">Conexão</a></li>
    <li><a class="dropdown-item" href="#">Decisão Imediata (D.I.)</a></li>
    <li><a class="dropdown-item" href="#">Fechamento</a></li>
    <li><a class="dropdown-item" href="#">Referidos</a></li>
    <li><a class="dropdown-item" href="#">Validação</a></li>
  </ul>

</li>