<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'academy:audio-speechs' %}">
    <strong>
      Entrevistas
    </strong>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" aria-current="page" href="{% url 'academy:technique-home' %}">
    <strong>
      Técnica
    </strong>
  </a>
</li>

<li class="nav-item dropdown">

  <a  role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      class="nav-link dropdown-toggle" href="{% url 'academy:home' %}"
      id="navbarDropdown"><strong>7 Passos</strong>
  </a>

  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="{% url 'academy:technique-1' %}">1. Apresentação/Abertura</a></li>
    <li><a class="dropdown-item" href="{% url 'academy:technique-2' %}">2. Conexão</a></li>
    <li><a class="dropdown-item" href="{% url 'academy:technique-3' %}">3. Decisão Imediata (D.I.)</a></li>
    <li><a class="dropdown-item" href="{% url 'academy:technique-4' %}">4. Speech</a></li>
    <li><a class="dropdown-item" href="{% url 'academy:technique-5' %}">5. Fechamento</a></li>
    <li><a class="dropdown-item" href="{% url 'academy:technique-6' %}">6. Referidos</a></li>
    <li><a class="dropdown-item" href="{% url 'academy:technique-7' %}">7. Validação</a></li>
  </ul>

  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="{% url 'core:home' %}">
      <strong>
        App
      </strong>
    </a>
  </li>

</li>