<aside id="navigation" class="col-3">
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">Primeiros Passos</li>
        <li class="list-group-item">Entrevistas Gravadas</li>
        <li class="list-group-item">Reuniões</li>
        <li class="list-group-item">Técnica</li>
        <li class="list-group-item">Scripts</li>
        <li class="list-group-item">Mentalidade</li>
        <li class="list-group-item">Visão</li>
        <li class="list-group-item">Emocional</li>
        <li class="list-group-item">Disciplina</li>
        <li class="list-group-item">Cadência</li>
        <li class="list-group-item">Objeções</li>
        <li class="list-group-item">Cartão de Crédito</li>
        <li class="list-group-item">PIX</li>
        <li class="list-group-item">Boleto</li>
        <li class="list-group-item">Tour pela Plataforma</li>
        <li class="list-group-item">Vídeos</li>
        <li class="list-group-item">Gerenciado de Leads</li>
        <li class="list-group-item">Perguntas Frenquentes</li>
    </ul>
</aside>