<aside id="navigation" class="col-3" data-current-module-id="{{current_module.id}}">
    <ul class="list-group">
        {% for module in modules %}
            <li data-url="{% url 'academy:module_detail' module.url %}" data-module-id="{{module.id}}" data-module-active="false" class="list-group-item list-group-item-module">
                <div class="list-group-item-module-content">
                    <i class="bi bi-chevron-right closed"></i>
                    <i class="bi bi-chevron-down open d-none"></i>
                    <span class="ms-1">{{module.title}}</span>
                </div>
                {% include "academy/core/navigation_sub.html" with submodules=module.get_submodules %}
            </li>
        {% endfor %}
    </ul>
</aside>