<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            {% include "academy/technique/technique_2/question.html" with question="O Pedro chegou a te avisar que eu ia entrar em contaro com você?" %}
            {% include "academy/technique/technique_2/question.html" with question="Por que faz sentido a gente tá falando sobre seu inglês? Como falar inglês te ajudaria?" %}
            {% include "academy/technique/technique_2/question.html" with question="Como tá seu inglês?" %}
            {% include "academy/technique/technique_2/question.html" with question="Numa escala de 0 a 10, qual nota daria para o seu inglês?" %}
            {% include "academy/technique/technique_2/question.html" with question="Você já estudou inglês antes?" %}
            {% include "academy/technique/technique_2/question.html" with question="O inglês te ajudaria de forma profissional ou pessoal?" %}
            {% include "academy/technique/technique_2/question.html" with question="O que te faz pensar “preciso aprender inglês”?" %}
            {% include "academy/technique/technique_2/question.html" with question="Você trabalha/estuda?" %}
            {% include "academy/technique/technique_2/question.html" with question="Você já saiu do nosso país alguma vez?" %}
            {% include "academy/technique/technique_2/question.html" with question="Qual país você pretende conhecer?" %}
            {% include "academy/technique/technique_2/question.html" with question="Por que você ainda não conseguiu resolver essa questão do inglês?" %}
            {% include "academy/technique/technique_2/question.html" with question="O que poderia te impedir de começar a resolver o seu inglês?" %}
            {% include "academy/technique/technique_2/question.html" with question="Qual seria o seu maior desáfio pra você tá falando inglês (escuta, fala, vergonha etc)?" %}
            {% include "academy/technique/technique_2/question.html" with question="Sobre essa questão do ensino a distância (EAD), isso seria um ponto positvo ou negativo pra você?" %}
            {% include "academy/technique/technique_2/question.html" with question="Me conta um pouco mais sobre a sua rotina (que horas você sai de casa e que horas você chega)?" %}
            {% include "academy/technique/technique_2/question.html" with question="Qual horário você tem disponível pra tá estudando inglês hoje?" %}
        </div>
    </div>
</div>