<div class="container mt-3">
    <div class="row">
        <div class="col-12">

            <ul class="nav nav-tabs" id="speech-nav-tabs" role="tablist">

                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="speech-nav-tab-1" data-toggle="tab" href="#speech-nav-content-1" role="tab" aria-controls="speech-nav-tab-1" aria-selected="true">Apresentação</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="speech-nav-tab-2" data-toggle="tab" href="#speech-nav-content-2" role="tab" aria-controls="speech-nav-tab-2" aria-selected="false">Conexão</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="speech-nav-tab-3" data-toggle="tab" href="#speech-nav-content-3" role="tab" aria-controls="speech-nav-tab-3" aria-selected="false">DI</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="speech-nav-tab-4" data-toggle="tab" href="#speech-nav-content-4" role="tab" aria-controls="speech-nav-tab-4" aria-selected="false">Speech</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="speech-nav-tab-5" data-toggle="tab" href="#speech-nav-content-5" role="tab" aria-controls="speech-nav-tab-5" aria-selected="false">Fechamento</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="speech-nav-tab-6" data-toggle="tab" href="#speech-nav-content-6" role="tab" aria-controls="speech-nav-tab-6" aria-selected="false">Referidos</a>
                </li>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="speech-nav-tab-7" data-toggle="tab" href="#speech-nav-content-7" role="tab" aria-controls="speech-nav-tab-7" aria-selected="false">Validação</a>
                </li>

            </ul>

            <div class="tab-content" id="speech-nav-tabs-content">

                <div class="tab-pane show active" id="speech-nav-content-1" role="tabpanel" aria-labelledby="speech-nav-tab-1">
                    {% include 'leads/speech/seven_steps/1_apresentacao/index.html' %}
                </div>

                <div class="tab-pane" id="speech-nav-content-2" role="tabpanel" aria-labelledby="speech-nav-tab-2">
                    {% include 'leads/speech/seven_steps/2_conexao/index.html' %}
                </div>

                <div class="tab-pane" id="speech-nav-content-3" role="tabpanel" aria-labelledby="speech-nav-tab-3">
                    {% include 'leads/speech/seven_steps/3_decisao_imediata/index.html' %}
                </div>

                <div class="tab-pane" id="speech-nav-content-4" role="tabpanel" aria-labelledby="speech-nav-tab-4">
                    {% include 'leads/speech/seven_steps/4_speech/index.html' %}
                </div>

                <div class="tab-pane" id="speech-nav-content-5" role="tabpanel" aria-labelledby="speech-nav-tab-5">
                    {% include 'leads/speech/seven_steps/5_fechamento/index.html' %}
                </div>

                <div class="tab-pane" id="speech-nav-content-6" role="tabpanel" aria-labelledby="speech-nav-tab-6">
                    {% include 'leads/speech/seven_steps/6_referidos/index.html' %}
                </div>

                <div class="tab-pane" id="speech-nav-content-7" role="tabpanel" aria-labelledby="speech-nav-tab-7">
                    {% include 'leads/speech/seven_steps/7_validacao/index.html' %}
                </div>

            </div>

        </div>
    </div>
</div>