<div id="speech-modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center text-primary">Speech</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">        
        {% include 'leads/speech/modal/conexao.html' %}
        {% include 'leads/speech/modal/di.html' %}
        {% include 'leads/speech/modal/speech.html' %}
        {% include 'leads/speech/modal/fechamento.html' %}
        {% include 'leads/speech/modal/referidos.html' %}
        {% include 'leads/speech/modal/validacao.html' %}
        {% include 'leads/speech/modal/pos_venda.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>