<div class="accordion" id="accordion-objections">
    {% include 'leads/speech/objections/accordion_card.html' with id='objections-1' headline='Eu quero conversar com um professor' content_template_address='leads/speech/objections/items/1.html' %}
    {% include 'leads/speech/objections/accordion_card.html' with id='objections-2' headline='Preciso falar com a pessoa que me indicou antes' content_template_address='leads/speech/objections/items/1.html' %}
    {% include 'leads/speech/objections/accordion_card.html' with id='objections-3' headline='Eu quero fazer inglês, mas no ano que vem' content_template_address='leads/speech/objections/items/1.html' %}
    {% include 'leads/speech/objections/accordion_card.html' with id='objections-4' headline='Eu quero fazer minhas contas' content_template_address='leads/speech/objections/items/1.html' %}
    {% include 'leads/speech/objections/accordion_card.html' with id='objections-5' headline='Eu não tenho cartão, é só no cartão?' content_template_address='leads/speech/objections/items/1.html' %}
    {% include 'leads/speech/objections/accordion_card.html' with id='objections-6' headline='E se eu quiser cancelar?' content_template_address='leads/speech/objections/items/1.html' %}
</div>
