<div class="row mb-3">
    <div class="col-12">

        <div class="bg-light p-2 border border-dark rounded">

            <button id="filter-toggle-btn" class="btn btn-sm btn-block btn-secondary">Mostrar/esconder filtro</button>

            <a role="button" href="{% url 'leads:add' %}" class="btn btn-sm btn-block btn-success ml-0">Adicionar novo</a>    

            <button id="filter-news-btn" class="btn btn-sm btn-primary btn-block ml-0">Exibir somente os novos</button>

            <a role="button" href="{{ request.path }}" class="btn btn-sm btn-block btn-warning ml-0">Limpar filtro</a>        

        </div>

    </div>
</div>
