{% load leads_extras %}

<div class="col-12 col-md-6 col-lg-4">
    <div class="card w-100 border border-dark mb-4">
      <div class="card-body p-2">

        <h5 class="card-title">{{lead.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {% with lead.get_referrer as referrer %}
          {% if referrer.lead %}
          <a target="_black" href="{% url 'leads:update' referrer.lead.id %}">{{referrer.lead.name}}</a>
          {% else %}{{referrer.name}}{% endif %}
          {% endwith %}
        </h6>
        <p class="card-text mb-0"><strong>Indicado em:</strong>
          {% if lead|get_referrers_from_lead_first_referring_datetime %}
          {{lead|get_referrers_from_lead_first_referring_datetime|date:"d/M/y à\s H:i"}}
          {% else %}
          {{lead.created_at|date:"d/m/y"}} {{ lead.created_at|time:"H:i" }}
          {% endif %}
        </p>
        <p class="card-text mb-0"><strong>Status:</strong> {{lead.get_status_display}}</p>
        <p class="card-text mb-0 {% if lead.priority %}text-danger{% endif %}"><strong>Prioridade:</strong> {% if lead.priority %}Sim{% else %}Não{% endif %}</p>
        <p class="card-text mb-0"><strong>Tel: </strong>{{lead.tel}}</p>
        <p class="card-text mb-0"><strong>Whats: </strong>{{lead.waid}}</p>
        <p class="card-text mb-0"><strong>Próxima Atividade:</strong> {{lead|show_next_activities}}
        <p class="card-text mb-0"><strong>Última Atividade:</strong> {{lead|show_last_activities}}
        <p class="card-text mb-0"><strong>Descrição da linha:</strong> {{lead.short_description}}</p>
        <p class="card-text mb-0"><strong>Anotações do Lead:</strong> {{lead.note|default_if_none:"Não há."|truncatechars:60}}</p>

        <div class="row mb-1 mt-2">
          <div class="col-12">
            <a role="button" class="btn btn-block btn-sm btn-success"
            href="{% url 'leads:update' lead.id %}">Abrir</a>
          </div>
        </div>

      </div>
    </div>
</div>