<div class="bg-dark">

  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark container">

    <a class="navbar-brand" href="{% url 'core:home' %}">Sales</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto ">
        
        <li class="nav-item {% if nav_name == 'leads_next' %}active{% endif%}">
          <a class="nav-link" href="{% url 'leads:next' %}">Next! <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if nav_name == 'leads_now' %}active{% endif%}">
          <a class="nav-link" href="{% url 'leads:now' %}">Now <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if nav_name == 'leads_list' %}active{% endif%}">
          <a class="nav-link" href="{% url 'leads:list' %}">Leads <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if nav_name == 'leads_novos_list' %}active{% endif%}">
          <a class="nav-link" href="{% url 'leads:novos-list' %}">News <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item {% if nav_name == 'leads_agendamentos_list' %}active{% endif%}">
          <a class="nav-link" href="{% url 'leads:agendamentos-list' %}">Schedules <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if nav_name == 'leads_em_aberto_list' %}active{% endif%}">
          <a class="nav-link" href="{% url 'leads:leads-em-aberto-list' %}">Opened <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if nav_name == 'activities' %}active{% endif%}">
          <a class="nav-link" href="{% url 'activities:list' %}">Activities</a>
        </li>

        <li class="nav-item {% if nav_name == 'leads_indicators_list' %}active{% endif%}">
          <a class="nav-link" href="{% url 'leads:indicators-list' %}">Indicators <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if nav_name == 'statistics' %}active{% endif%}">
          <a class="nav-link" href="{% url 'core:statistics' %}">Statistics <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item {% if nav_name == 'leads_upload' %}active{% endif%}">
          <a class="nav-link" href="{% url 'leads:upload' %}">Upload de Leads</a>
        </li>

        <li class="nav-item {% if nav_name == 'settings' %}active{% endif%}">
          <a class="nav-link" href="{% url 'core:settings' %}">Settings</a>
        </li>

      </ul>
    </div>
    
  </nav>

</div>

<div class="d-lg-none">
  <nav id="main-navbar-bottom" class="navbar fixed-bottom navbar-dark bg-dark container-fluid p-0 m-0">
  
    <ul class="navbar-nav w-100">
      <li class="nav-item">
        <div class="items-wrapper d-flex justify-content-between align-items-center">

          <div class="d-flex justify-content-center align-items-center nav-item-item">
            <a class="h6 text-white p-0 m-0" href="{% url 'leads:next' %}">Next!</a>
          </div>

          <div class="d-flex justify-content-center align-items-center nav-item-item">
            <a class="h6 text-white p-0 m-0" href="{% url 'leads:now' %}">Agora</a>
          </div>

          <div class="d-flex justify-content-center align-items-center nav-item-item">
            <a class="h6 text-white p-0 m-0" href="{% url 'leads:list' %}">Leads</a>
          </div>

          <div class="d-flex justify-content-center align-items-center nav-item-item">
            <a class="h6 text-white p-0 m-0" href="{% url 'leads:agendamentos-list' %}">Agenda</a>
          </div>

          <div class="d-flex justify-content-center align-items-center nav-item-item">
            <a class="h6 text-white p-0 m-0" href="{% url 'leads:leads-em-aberto-list' %}?quality_gte=2">Priori.</a>
          </div>

          <div class="d-flex justify-content-center align-items-center nav-item-item">
            <a class="h6 text-white  p-0 m-0 referentes" href="{% url 'leads:indicators-list' %}">Refs.</a>
          </div>

          <div class="d-flex justify-content-center align-items-center nav-item-item">
            <a class="h6 text-white p-0 m-0" href="{% url 'activities:list' %}">Ativ.</a>
          </div>
          
          <div class="d-flex justify-content-center align-items-center nav-item-item">
            <a class="h6 text-white p-0 m-0" href="{% url 'activities:list' %}">Extra</a>
          </div>

        </div>
      </li>
    </ul>

  </nav>
</div>
