<div class="bg-dark">
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark container">

    <a class="navbar-brand d-none d-md-block" href="{% url 'core:home' %}">Sales</a>

    {% include 'core/nav_items_mobile.html' %}

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto ">
        {% include 'core/nav_items_desktop.html' %}
      </ul>
    </div>

  </nav>
</div>

<div id="search-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="bg-light border border-dark p-3 rounded" action="{% url 'leads:list' %}?ok">
            <div class="col-12">
              <div class="form-group">
                <label for="search-name">Nome</label>
                <input type="text" class="form-control form-control-lg" id="search-name" name="name" placeholder="Joao Pedro">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="search-tel">Telefone</label>
                <input type="text" class="form-control form-control-lg" id="search-tel" name="tel" placeholder="983433489">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                  <button class="btn btn-success btn-block btn-lg" type="submit">Buscar</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
