body {
    background-color: rgb(24, 10, 41);
}

nav {
    height: 60px;
}

form#qualified {
    border: 3px solid #fff;
}

form#qualified button {
    background-color: rgb(0, 235, 132);
    color: rgb(24, 10, 41);
    border: 2px solid #fff;
}

form#qualified input {
    border: 2px solid #fff;
    box-shadow: none;
}

form#qualified input:focus {
    border: 2px solid rgb(0, 235, 132);
    box-shadow: none;
}

form#qualified label {
    font-size: 18px;
    color: #fff;
    margin-bottom: 12px;
}


ul.errorlist {
    padding: 0;
    padding-left: 5px;
    padding-top: 5px;
    list-style-type: none;
}