:root {
    --main-color-primary: #004080;
    --main-navbar-bottom-main-color: var(--dark);
    --main-navbar-bottom-secondary-color: rgba(255,255,255,.5);
    --main-navbar-bottom-border-size: 3px;
}

#goal-of-the-day #goal-of-the-day-wrapper {
    border: 4px solid #000;
    height: 45px;
    border-radius: 4px;
}

#goal-of-the-day #goal-of-the-day-wrapper .progress {
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(195 195 195);
}

#goal-of-the-day #goal-of-the-day-wrapper .progress-bar {
    background-color: rgb(60, 121, 11);
}

#past-due-activities-stripe:focus,
#past-due-activities-stripe:hover,
#past-due-activities-stripe p.h6:focus,
#past-due-activities-stripe p.h6:focus {
    color: none!important;
    text-decoration: none!important;
    background-color: transparent!important;
}

nav#main-navbar button.navbar-toggler {
    border: 0;
    outline: 0;    
}

nav#main-navbar.fixed-bottom {
    margin-top: 63px;
    background-color: var(--main-color-primary)!important;
}

nav#main-navbar.fixed-bottom a.navbar-brand {
    color: #fff!important;
}

nav#main-navbar.fixed-bottom li.nav-item a {
    color: #fff!important;
}

body {
    margin-bottom: 75px;
}

nav#main-navbar li a {
    font-weight: 400;
    font-size: 12;
}

#main-navbar-bottom,
#main-navbar-bottom .navbar-nav {
    background-color: var(--main-navbar-bottom-main-color);
}


#main-navbar-bottom,
#main-navbar-bottom .navbar-nav,
#main-navbar-bottom .navbar-nav .items-wrapper,
#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item {
    height: 60px!important;
}

#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item {
    border-top: var(--main-navbar-bottom-border-size) solid var(--main-navbar-bottom-secondary-color);
    border-bottom: var(--main-navbar-bottom-border-size) solid var(--main-navbar-bottom-secondary-color);
    border-left: var(--main-navbar-bottom-border-size) solid var(--main-navbar-bottom-secondary-color);
}

#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item:last-child {
    border-right: var(--main-navbar-bottom-border-size) solid var(--main-navbar-bottom-secondary-color);
}

#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item {
    width: 25%;
}

#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item .h6 {
    font-size: 13px!important;
    color: var(--main-navbar-bottom-secondary-color)!important;
}

.page-title {
    background-color: var(--main-color-primary)!important;
    color: #fff;
    padding: 10px;
}

.modal-backdrop.show {
    background: rgba(0, 0, 0)!important;
    opacity: .9;
 }
