:root {
    --main-color-primary: #004080;
    --main-color-primary-light: #c5d4e4;
    --main-navbar-bottom-main-color: var(--dark);
    --main-navbar-bottom-secondary-color: rgba(255,255,255,.5);
    --main-navbar-bottom-border-size: 3px;
}

body {
    margin-bottom: 75px;
}

#global-label .progress {
    height: 5px;
    font-size: 15px;
    font-weight: bold;
}

#goal-of-the-day .progress {
    height: 20px;
    font-size: 15px;
    font-weight: bold;
}

nav#main-navbar button.navbar-toggler {
    border: 0;
    outline: 0;    
}

nav#main-navbar.fixed-bottom {
    background-color: var(--main-color-primary)!important;
}

nav#main-navbar.fixed-bottom a.navbar-brand {
    color: #fff!important;
}

nav#main-navbar .nav-item-item {
    padding: 5px;
}

nav#main-navbar .nav-item-item svg {
    width: 1.3rem;
    height: 1.3rem;
}

nav#main-navbar .nav-item-item small {
    font-size: 12px;
}

.page-title {
    color: var(--main-color-primary)!important;
    border: 3px solid var(--main-color-primary)!important;
    background-color: var(--main-color-primary-light)!important;
    min-height: 46px;
}

.page-title h1 {
    font-size: 1.2rem;
    font-weight: bolder;
}

.modal-backdrop.show {
    background: rgba(0, 0, 0)!important;
    opacity: .9;
 }

.alert-main.alert-success {
     border: 3px solid #155724;
 }

.alert-main.alert-danger {
    border: 3px solid #721c24;
}

.alert-main.alert-primary {
    border: 3px solid #04366b;
}

.alert-main.alert-secondary {
    border: 3px solid rgb(56, 56, 56);
}

.border-bolder,
.bolder-border {
    border: 3px solid var(--main-color-primary)!important;
}

#card-referrer-simple .card-referrer-simple-wrapper,
.card-referrer,
.lead-card,
#lead-update-relationships #lead-update-relationships-wrapper,
#lead-update-info #lead-update-info-wrapper,
#upload-leads-form,
#lead-update-main #lead-update-main-wrapper {
    border: 3px solid var(--main-color-primary)!important;
}

.btn.btn-danger {
    border: 3px solid #721c24!important;
}

.btn.btn-success {
    border: 3px solid #155724!important;
}

.btn.btn-primary {
    border: 3px solid #04366b!important;
}

.btn.btn-warning {
    border: 3px solid #a17b07!important;
}

.btn.btn-dark {
    border: 3px solid #a0a0a0!important;
}

.btn.btn-info {
    border: 3px solid #005361!important;
}

.btn.btn-secondary {
    border: 3px solid rgb(56, 56, 56)!important;
}

blockquote p {
    font-size: 1rem;
}