:root {
    --main-color-primary: #004080;
    --main-color-primary-light: #c5d4e4;
    --main-navbar-bottom-main-color: var(--dark);
    --main-navbar-bottom-secondary-color: rgba(255,255,255,.5);
    --main-navbar-bottom-border-size: 3px;
}

#goal-of-the-day .ldBar-label {
    display: none!important;
}

#goal-of-the-day #goal-of-the-day-wrapper {
    height: 46px;
}

#goal-of-the-day #goal-of-the-day-wrapper .progress {
    border: 3px solid #165324;
    height: 100%;
    font-size: 12px;
    font-weight: bold;
    background-color: #d4edda;
}

#goal-of-the-day #goal-of-the-day-wrapper .progress-bar {
    background-color: #208638;
}

#past-due-activities-stripe:focus,
#past-due-activities-stripe:hover,
#past-due-activities-stripe p.h6:focus,
#past-due-activities-stripe p.h6:focus {
    color: none!important;
    text-decoration: none!important;
    background-color: transparent!important;
}

nav#main-navbar button.navbar-toggler {
    border: 0;
    outline: 0;    
}

nav#main-navbar.fixed-bottom {
    margin-top: 63px;
    background-color: var(--main-color-primary)!important;
}

nav#main-navbar.fixed-bottom a.navbar-brand {
    color: #fff!important;
}

nav#main-navbar.fixed-bottom li.nav-item a {
    color: #fff!important;
}

body {
    margin-bottom: 75px;
}

nav#main-navbar li a {
    font-weight: 400;
    font-size: 12;
}

#main-navbar-bottom,
#main-navbar-bottom .navbar-nav {
    background-color: var(--main-navbar-bottom-main-color);
}


#main-navbar-bottom,
#main-navbar-bottom .navbar-nav,
#main-navbar-bottom .navbar-nav .items-wrapper,
#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item {
    height: 60px!important;
}

#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item {
    border-top: var(--main-navbar-bottom-border-size) solid var(--main-navbar-bottom-secondary-color);
    border-bottom: var(--main-navbar-bottom-border-size) solid var(--main-navbar-bottom-secondary-color);
    border-left: var(--main-navbar-bottom-border-size) solid var(--main-navbar-bottom-secondary-color);
}

#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item:last-child {
    border-right: var(--main-navbar-bottom-border-size) solid var(--main-navbar-bottom-secondary-color);
}

#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item {
    width: 25%;
}

#main-navbar-bottom .navbar-nav .items-wrapper .nav-item-item .h6 {
    font-size: 13px!important;
    color: var(--main-navbar-bottom-secondary-color)!important;
}

.page-title {
    color: var(--main-color-primary)!important;
    border: 3px solid var(--main-color-primary)!important;
    background-color: var(--main-color-primary-light)!important;
    height: 46px;
}

.page-title h1 {
    font-size: 1.2rem;
    font-weight: bolder;
}

.modal-backdrop.show {
    background: rgba(0, 0, 0)!important;
    opacity: .9;
 }

.alert-main.alert-success {
     border: 3px solid #155724;
 }

 .alert-main.alert-danger {
    border: 3px solid #721c24;
}

#card-referrer-simple .card-referrer-simple-wrapper,
.card-referrer,
.lead-card,
#lead-update-relationships #lead-update-relationships-wrapper,
#lead-update-info #lead-update-info-wrapper,
#lead-update-main #lead-update-main-wrapper {
    border: 3px solid var(--main-color-primary)!important;
}

.btn.btn-success {
    border: 3px solid #155724;
}

.btn.btn-primary {
    border: 3px solid #04366b;
}

.btn.btn-warning {
    border: 3px solid #a17b07;
}

.btn.btn-dark {
    border: 3px solid #a0a0a0;
}

.btn.btn-info {
    border: 3px solid #005361;
}

.btn.btn-secondary {
    border: 3px solid rgb(56, 56, 56)!important;
}
