{% load crispy_forms_tags %}

<form id="upload-leads-form" method="post" action="{% url 'leads:actions:add_upload' lead.id %}" enctype="multipart/form-data" class="bg-light p-4 rounded">    
    {% csrf_token %}
    {{ form.name.as_hidden }}
    {{ form.lead.as_hidden }}
    {{ form.referring_datetime|as_crispy_field }}    
    {{ form.validation|as_crispy_field }}
    {{ form.line_group|as_crispy_field }}
    {{ form.gmt|as_crispy_field }}
    {{ form.short_description|as_crispy_field }}
    {{ form.location|as_crispy_field }}
    {% include "leads/actions/add/upload/filed_vcf_files.html" %}
    <div class="form-group mb-0">
        <button type="submit" class="btn btn-block btn-success border border-dark">Carregar Contatos</button>
    </div>
</form>