{% load widget_tweaks %}

<form method="post" action="{% url 'leads:actions:add_upload' lead.id %}" enctype="multipart/form-data" class="bg-light border border-dark p-4 rounded">
    
    {% csrf_token %}

    {% include "core/fields_widgets/input_datetime_local.html" with field=form.referring_datetime %}

    {% include "core/fields_widgets/input_default.html" with field=form.gmt %}

    <div class="d-none">
        {% include "core/fields_widgets/input_default.html" with field=form.name %}
    </div>

    <div class="d-none">
        {% include "core/fields_widgets/input_default.html" with field=form.lead %}
    </div>

    {% include "core/fields_widgets/input_default.html" with field=form.short_description %}
    
    {% include "core/fields_widgets/input_default.html" with field=form.location %}

    <div class="form-group border border-dark rounded p-3">

        <label for="{{ form.vcf_files.id_for_label }}">
            <strong>{{ form.vcf_files.label }}</strong>
        </label>

        {% if not form.vcf_files.errors %}
            {{ form.vcf_files|attr:"multiple"|add_class:'form-control-file' }}
        {% else %}
            {{ form.vcf_files|attr:"multiple"|add_class:'form-control-file is-invalid' }}
        {% endif %}

        <div class="invalid-feedback">{{ form.vcf_files.errors }}</div>

    </div>

    <div class="form-group mb-0">
        <button type="submit" class="btn btn-block btn-success border border-dark">Carregar Contatos</button>
    </div>

</form>
