<div class="modal fade" id="activity-add-modal" tabindex="-1" aria-labelledby="activityAddModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-2">
        <h5 class="modal-title w-100 text-center my-2" id="activityAddModalLabel">Adicionar Nova Atividade</h5>
        {% include "leads/update/activity/activity_add_modal_fad.html" %}
        {% include "leads/update/activity/forms/activity_form_add.html" %}
      </div>
    </div>
  </div>
</div>
