<div class="container mt-3">
    <div class="row">
        <div class="col-12">

            <a href="{% url 'analytics:today' %}">
                <div class="rounded p-2 mb-3 bolder-border">
                    <strong>Produção de Hoje</strong>
                </div>
            </a>

            <a class="d-none" href="{% url 'analytics:this_week' %}">
                <div class="rounded p-2 mb-3 bolder-border">
                    <strong>Produção da Semana</strong>
                </div>
            </a>

            <a href="{% url 'analytics:day_select' %}">
                <div class="rounded p-2 mb-3 bolder-border">
                    <strong>Produção de um Dia Específico</strong>
                </div>
            </a>

            <a class="d-none" href="{% url 'analytics:range_select' %}">
                <div class="rounded p-2 mb-3 bolder-border">
                    <strong>Produção de um Intervalo Específico</strong>
                </div>
            </a>

            <a class="d-none" href="{% url 'analytics:balance' %}">
                <div class="rounded p-2 mb-3 bolder-border">
                    <strong>Balanço dos Leads</strong>
                </div>
            </a>

        </div>
    </div>
</div>