{% include 'core/fields_widgets/input_default.html' with field=form.type %}
{% include 'core/fields_widgets/input_default.html' with field=form.subject %}
{% include 'core/fields_widgets/input_default.html' with field=form.due_date %}
{% include 'core/fields_widgets/input_default.html' with field=form.note %}


<div class="form-group form-row mt-4 mb-0">

<div class="col-6 mb-0">
    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Fechar</button>
</div>

<div class="col-6 mb-0">
    <button type="button" class="btn btn-block btn-success">Salvar</button>
</div>

</div>