<form action="{% url 'analytics:day_select' %}" method="get" class="border border-dark p-3 rounded">


    <div class="row mb-3">
        <div class="col-12">
            {{form.day}}
        </div>
    </div>

    <div class="row">

        <div class="col-12 mb-3">
            <div class="form-group mb-0 pb-0">
                <button type="submit" class="btn btn-success btn-block">Visualizar Detalhes</button>
            </div>
        </div>

        <div class="col-12">
            <div class="form-group mb-0 pb-0">
                <a href="{% url 'core:statistics_day_detail' %}" role="button" class="btn btn-warning btn-block">Limpar</a>
            </div>
        </div>

    </div>

</form>