<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            
            <ul class="list-group">

                <li class="list-group-item">
                    <a href="{% url 'leads:list' %}" class="mt-5">Programação de HOJE</a>
                </li>

                <li class="list-group-item">
                    <a href="{% url 'leads:list' %}" class="mt-5">Lista de leads novos</a>
                </li>
                
                <li class="list-group-item">
                    <a href="{% url 'leads:list' %}" class="mt-5">Voltar para edição desse lead</a>
                </li>

                <li class="list-group-item">
                    <a href="{% url 'leads:list' %}" class="mt-5">Adicionar um lead novo</a>
                </li>

                <li class="list-group-item">
                    <a href="{% url 'leads:list' %}" class="mt-5">Agendamentos</a>
                </li>

            </ul>

        </div>
    </div>
</div>
