<div class="row mt-3">

    <div class="col-12">
        <div class="border border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Resumo do Speech</strong>
            </h2>

            <div class="row mt-4">

                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">Então ________, é um curso completo, do básico ao avançado, com professores
                            americanos, certificado, exercícios, guia de pronúncia, guia de gramática, material
                            didático, um curso que você vai fazer no seu computador, no seu tablet, no celular, e
                            lembra que eu te falei que eram 500 horas por enquanto?</p>             
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">A cada 40/50 dias a gente coloca novos conteúdos dentro da plataforma, ou seja, ela sempre vai ficar sendo atualizada pra você sempre ter conteúdos novos.</p>             
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <div class="border border-dark p-2 rounded">
                        <ul class="mb-0">
                            <li>O que você achou? Você gostou?</li>
                            <li>Do que você mais gostou? O que mais chamou a sua atenção?</li>
                            <li>Ficou alguma dúvida?</li>
                        </ul>          
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>



