<div class="row pt-3">

    <div class="col-12">
        <div class="border border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Painel Auxiliar</strong>
            </h2>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">O Painel auxiliar basicamente são dois guias de apoio, um guia de vocabulário e um guia de gramática.</p>             
                    </div>
                </div>
            </div>


            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">
                            <strong>O guia de vocabulário</strong> são todas as palavras frases e expressões que você aprendeu ao longo do curso, tudo reunido num só lugar, como se fosse um 
                            dicionário gigante por assim dizer, você clica na palavra e tem a pronúncia dela, você clica na frase e tem a pronúncia dela. Então você vai treinar 
                            seu ouvido, treinar a pronúncia das palavras.
                        </p>             
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">
                            <strong>E o guia de gramática</strong> meu amigo tá fantástico, eu costumo dizer que o curso já vale o
                            preço por esse guia de gramática, são todos os tópicos da língua inglesa do verbo to be
                            ao passado perfeito.
                        </p>             
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">
                            De modo que é um curso focado em comunicação cotidiana, mas um uma gramática muito sólida pra quem quiser se aprofundar.
                        </p>             
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>