<div id="business" class="row pt-3">
    <div class="col-12">
        <div class="border border-dark rounded border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Business</strong>
            </h2>
            <h3 class="h6">
                Desenvolva o seu inglês aplicado ao mundo dos negócios, se capacitando para aceitar novas oportunidades e destruindo a barreira do inglês no seu crescimento.
            </h3>

            <ul class="mb-0 pb-0">
                <li>Dados e Tecnologia</li>
                <li>Habilidade de Negócio</li>
                <li>Cultura Corporativa</li>
                <li>Gestão de Projetos</li>
                <li>Negociação</li>
                <li>Inovação</li>
                <li>Gestão de Pessoas</li>
                <li>Gestão de Crise</li>
                <li>Comunicação Empresarial</li>
                <li>Indústria do Entretenimento</li>
            </ul>

        </div>
    </div>
</div>