<div class="row mt-3">
    <div class="col-12">
        <div class="border border-dark rounded border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Cities</strong>
            </h2>
            <h3 class="h6">
                Estude inglês enquanto faz um tour por grandes cidades onde o idioma é nativo. Conheça pontos 
                turísticos e acompanhe um viajante, observando a língua 
                aplicada na prática.
            </h3>

            <ul class="mb-0 pb-0">
                <li>Nova York</li>
                <li>São Francisco</li>
                <li>Miami</li>
                <li>Filadélfia</li>
            </ul>

        </div>
    </div>
</div>