<div class="row pt-3">

    <div class="col-12">
        <div class="border border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Conclusão do Speech</strong>
            </h2>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">Pelo que eu entendi. Você não tem nenhuma dúvida sobre como funciona a plataforma. Tá tudo claro, né?</p>             
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">Se o preço encaixar no teu orçamento, você vira nosso aluno?</p>             
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



