<div class="row pt-3">

    <div class="col-12">
        <div class="border border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Painel Principal</strong>
            </h2>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">O painel principal são CENTENAS de aulas, só que aulas não tão longas, aulas de
                    aproximadamente 30 minutos, de modo que o você vai poder fazer 1 aula por dia como
                    sugestão, ou fazer 2, 3 quantas o você quiser, mas com 1 aula por dia você já vai ter o
                    que é mais importante no aprendizado do inglês que é o CONTATO FREQUENTE COM
                    A LÍNGUA.</p>             
                    </div>
                </div>

            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0"><strong>O 1° bloco é um mini documentário</strong>, com uma produção de altíssimo nível, que
                        te coloca numa situação real onde o inglês é necessário e introduz o assunto da
                        aula.</p>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="border border-dark p-2 rounded">
                        <p class="m-0 p-0"><strong>O 2° bloco é um professor americano te dando aula de vocabulário</strong>, você vai aprender muitas palavras, muitas 
                        frases, muitas expressões idiomáticas.</p>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="border border-dark p-2 rounded">
                    <p class="m-0 p-0"><strong>O 3° bloco é o professor americano te dando aula de gramática</strong>, que é a estrutura do idioma. E depois de cada um 
                    desses blocos você vai responder exercícios de fixação e avaliação na própria plataforma.</p>
                    </div>
                </div>            
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">Basicamente ______ esse é o PAINEL PRINCIPAL, são centenas de aulas neste formato.</p>             
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">Além disso _________, tem o PAINEL AUXILIAR.</p>             
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>