<nav id="navbar-main" class="navbar fixed-bottom navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href=".">Wise Up Online Speech</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link" href="#wise-up">Sobre Wise Up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#start">Início</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#cities">Cities</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#travel">Travel</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#business">Business</a>
                </li>

            </ul>
        </div>
    </div>
</nav>