<div id="start" class="row pt-3">
    <div class="col-12">
        <div class="border border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Como funciona</strong>
            </h2>
            
            <div class="row mt-3">
                <div class="col-12">

                    <div class="p-2 border border-dark rounded">

                        <p class="p-0 m-0"><strong>(1) A platafroma funciona da seguinte forma:</strong></p>

                        <p class="p-0 m-0">São professores americanos que falam português. <br/>Todos os nossos professores têm
                        essas duas características, eles são americanos e falam português, e isso vai te trazer
                        pelo menos 2 benefícios:</p>

                        <p class="p-0 m-0"><strong>(1.1) um PEDAGÓGICO</strong>, o fato de ele ser americano e falar português quer dizer que ele entende o jeito do Brasileiro pensar</p>

                        <p class="p-0 m-0"><strong>(1.2) mas também tem um benefício PRÁTICO</strong>, porque você vai poder escolher se você quer fazer o curso:
                            SOMENTE EM INGLÊS ou INGLÊS-PORTUGUÊS.</p>

                    </div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                
                    <div class="p-2 border border-dark rounded">
                        <p class="p-0 m-0">
                            <strong>(2)</strong> Além disso, são mais de 500 horas de conteúdo POR ENQUANTO (já, já eu te falo pq por enquanto) e a cada 50 horas você vai receber um cer
                            tificado da própria Wise Up.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="p-2 border border-dark rounded">
                        <p class="p-0 m-0">
                            <strong>(3)</strong> Essas 500 horas são divididas basicamente em DOIS PAINÉIS:
                        </p>
                        <p class="p-0 m-0">
                            <strong>(3.1)</strong> um painel principal que são as aulas propriamente ditas;
                        </p>
                        <p class="p-0 m-0">
                            <strong>(3.2)</strong> e um painel auxiliar.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>