<div class="row pt-3">

    <div class="col-12">
        <div class="border border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Material Didático e Ferramentas</strong>
            </h2>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">Além disso tudo você ainda vai ter o material didático e uma ferramenta pra você treinar sua pronûncia:
                        </p>        
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">
                            <strong>São mais de 13 livros digitais</strong>, cada livro tem cerca de 250 páginas, e você vai poder baixar esses
                            livros, vai poder imprimir, e nesse livro vai ter as aulas transcritas, exercícios extras, e
                            muito mais!
                        </p>        
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="border border-dark p-2 rounded">
                        <p class="p-0 m-0">
                            <strong>A ferramenta de treino de pronúncia</strong>, vai te ajudar a treinar a sua voz pra você aprender a falar de forma correta e aprender a falar de forma correta.
                        </p>        
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>