<div id="travel" class="row pt-3">
    <div class="col-12">
        <div class="border border-dark rounded border-dark p-3 rounded">

            <h2 class="w-100 h4 text-left">
                <strong>Travel</strong>
            </h2>
            <h3 class="h6">
                Passe por uma imersão cultural e desenvolva o seu inglês de acordo com o contexto americano, se tornando mais 
                confiante e conquistando segurança para falar em inglês no tema das viagens.
            </h3>

            <ul class="mb-0 pb-0">
                <li>Aeroporto</li>
                <li>Dirigindo</li>
                <li>Transportes</li>
                <li>Hotel</li>
                <li>Restaurantes</li>
                <li>Parques Temáticos</li>
                <li>Viajante</li>
                <li>Esportes e Jogos</li>
                <li>Compras</li>
                <li class="p-0 m-0">Pé na Estrada</li>
            </ul>

        </div>
    </div>
</div>