<div id="wise-up" class="row pt-3">
    <div class="col-12">
        <div class="border border-dark p-3 rounded">

            <div class="w-100">
                <h2 class="w-100 h4 text-left">
                    <strong>Você já tinha ouvido falar da Wise Up?</strong>
                </h2>
            </div>

            <ul class="mb-0 pb-0">
                <li>A gente é a maior escola da américa com foco em ensinar o adulto a falar inglês.</li>
                <li>A Wise Up é uma multinacional, com mais de 400 escolas presenciais espalhadas por todo Brasil;</li>
                <li>A gente ensina inglês a mais de 26 anos (são 26 anos de história ensinar adultos a falar inglês);</li>
                <li>Além dessas 400 escolas presenciais.</li>
                <li>Foi pra essa plataforma que seu amigo/amiga te indicou.</li>
            </ul>

        </div>
    </div>
</div>