
<table class="table table-bordered table-striped table-responsive">
    <thead>
    <tr>
        <th scope="col">Descrição da Variável</th>
        <th scope="col">Valores</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td>Qte Totais</td>
            <td>{{table.totais}}</td>
        </tr>
    
        <tr>
            <td>Qte Em Aberto</td>
            <td>{{table.em_aberto}}</td>
        </tr>

        <tr>
            <td>Qte Leads Processados</td>
            <td>{{table.processados}}</td>
        </tr>

        <tr>
            <td>Qte Apresentações Perdidas</td>
            <td>{{table.perdidos|default_if_none:0}}</td>
        </tr>

        <tr>
            <td>Qte Apresentações Ganhas</td>
            <td>{{table.ganhos|default_if_none:0}}</td>
        </tr>

    </tbody>
</table>