{% include accordion_card_address with id='speech-1' headline='Speech: Wise Up Online' content_template_address='leads/update/modals/speech/speech/wol.html' %}
{% include accordion_card_address with id='speech-2' headline='Speech: Séries' content_template_address='leads/update/modals/speech/speech/series.html' %}
{% include accordion_card_address with id='speech-3' headline='Speech: Aulas' content_template_address='leads/update/modals/speech/speech/class.html' %}
{% include accordion_card_address with id='speech-4' headline='Speech: Ferramentas' content_template_address='leads/update/modals/speech/speech/tools.html' %}
{% include accordion_card_address with id='speech-5' headline='Speech: Tempo' content_template_address='leads/update/modals/speech/speech/schedules.html' %}
{% include accordion_card_address with id='speech-6' headline='Speech: Conclusão' content_template_address='leads/update/modals/speech/speech/conclusion.html' %}
