{% if messages %}
    {% comment %} <div class="container-fluid" style="position:absolute;z-index:10000000;margin-top:95px;"> {% endcomment %}
    <div class="container-fluidx bg-danger" style="position:fixed;top:0;left:0;z-index:10000000;">
      <div class="row">
        <div class="col-8"></div>
        <div id="global-dj-messages-wrapper" class="col-4"></div>
      </div>
    </div>
    <div id="dj-messages" class="d-none">
      {% for message in messages %}
          <div class="message-item" data-tag="{{ message.tags }}" data-message="{{ message }}" data-processed="false"></div>
      {% endfor %}
    </div>
{% endif %}