{% load leads_extras %}

<div class="w-100">
    <p class="mb-1">
        <strong>Ref.:</strong>
        {% if referrer.lead %}<a target="_black" href="{% url 'leads:update' referrer.lead.id %}">{{referrer.lead.name}}</a>
        {% else %}{{referrer.name}}{% endif %} em {{referrer.referring_datetime|date:"d/M/y à\s H:i"}}
    </p>
</div>

<div class="w-100">
    <p class="mb-1"><strong>Descrição da linha:</strong> {{referrer.short_description}}</p>
</div>

<div class="w-100 d-flex flex-wrap justify-content-between align-items-center mt-2">
    <div class="row">

        <div class="col-4">
            <a role="button" href="{% url 'leads:leads_referrers_t1' referrer.id %}"
            class="btn btn-sm btn-block btn-warning">
                <small>
                    <strong>T1 ({{referrer|get_news_leads|length}})</strong>
                </small>
            </a>            
        </div>

        <div class="col-4">    
            <a role="button" href="{% url 'leads:leads_referrers_t2' referrer.id %}"
            class="btn btn-sm btn-block btn-warning">
                <small>
                    <strong>T2 ({{referrer|get_tentanto_leads|length}})</strong>
                </small>
            </a>
        </div>

        <div class="col-4">    
            <a role="button" href="{% url 'leads:leads_referrers_t3' referrer.id %}"
            class="btn btn-sm btn-block btn-warning">
                <small>
                    <strong>T3 ({{referrer|get_tentanto_2_leads|length}})</strong>
                </small>
            </a>
        </div>

        <div class="col-4 mt-2">    
            <a role="button" href="{% url 'leads:leads_referrers_cnr' referrer.id %}"
            class="btn btn-sm btn-block btn-warning">
                <small>
                    <strong>CNR ({{referrer|get_cnr_leads|length}})</strong>
                </small>
            </a>
        </div>

        <div class="col-4 mt-2">
            <a href="{% url 'leads:leads_referrers_agendamento' referrer.id %}"
            class="btn btn-sm btn-block btn-warning">
                <small>
                    <strong>Agenda ({{referrer|get_agendamento_leads|length}})</strong>
                </small>
            </a>    
        </div>

        <div class="col-4 mt-2">
            <a  role="button"
                href="{% url 'leads:leads_referrers_all' referrer.id %}"
                class="btn btn-sm btn-block btn-warning">
                <small><strong>Todos ({{referrer.leads.count}})</strong></small>
            </a>                
        </div>

        <div class="col-6 mt-2">    
            <a role="button" href="{% url 'leads:leads_referrers_perdido' referrer.id %}"
            class="btn btn-sm btn-block btn-warning">
                <small>
                    <strong>Perdidos ({{referrer|get_perdido_leads|length}})</strong>
                </small>
            </a>
        </div>

        <div class="col-6 mt-2">    
            <a role="button" href="{% url 'leads:leads_referrers_ganho' referrer.id %}"
            class="btn btn-sm btn-block btn-warning">
                <small>
                    <strong>Ganhos ({{referrer|get_ganho_leads|length}})</strong>
                </small>
            </a>
        </div>

    </div>
</div>