{% load core_extras %}
{% load leads_extras %}

{% for referrer in lead|get_referrers_from_lead %}
<div class="container">
        <div class="border border-dark mt-3 p-2 rounded">
            <div class="row">

                <div class="col-12">
                    <p class="p-0 m-0 mt-0 mb-2 text-dark">
                    Ref.: {% if referrer.lead %}
                        <a target="_black" href="{% url 'leads:update' referrer.lead.id %}">{{referrer.lead.name}}</a>
                        {% else %}{{referrer.name}}{% endif %} 
                    em {{referrer.referring_datetime|date:"d/M/y à\s H:i"}}.</p>
                </div>

                <div class="col-4">    
                    <a role="button" href="{% url 'leads:leads_referrers_t1' referrer.id %}"
                    class="btn btn-sm btn-block btn-warning">
                        <small>
                            <strong>T1 ({{referrer|get_news_leads|length}})</strong>
                        </small>
                    </a>
                </div>

                <div class="col-4">    
                    <a role="button" href="{% url 'leads:leads_referrers_t2' referrer.id %}"
                    class="btn btn-sm btn-block btn-warning">
                        <small>
                            <strong>T2 ({{referrer|get_tentanto_leads|length}})</strong>
                        </small>
                    </a>
                </div>

                <div class="col-4">    
                    <a role="button" href="{% url 'leads:leads_referrers_t3' referrer.id %}"
                    class="btn btn-sm btn-block btn-warning">
                        <small>
                            <strong>T3 ({{referrer|get_tentanto_2_leads|length}})</strong>
                        </small>
                    </a>
                </div>

                <div class="col-6 mt-2">
                    <button id="speech-modal-btn" class="btn btn-block btn-info" data-toggle="modal" data-target="#speech-modal">
                        {% btn_svg_icons 'bootstrap' 'megaphone-fill' '22px' 'center' 'Speech' %}
                    </button>
                </div>

                <div class="col-6 mt-2">
                    <a  role='button' 
                        id='leads-call-whatsapp-btn' 
                        href="{% url 'leads:leads_referrers_next' referrer.id %}"
                        class='btn btn-block btn-info'>
                        {% btn_svg_icons 'bootstrap' 'lightning-fill' '22px' 'center' 'Next' %}
                    </a>
                </div>

            </div>
        </div>
</div>
{% endfor %}
