{% load core_extras %}
{% load leads_extras %}

{% for referrer in lead|get_referrers_from_lead %}
<div id="card-referrer-simple" class="container">
        <div class="card-referrer-simple-wrapper mt-3 p-3 rounded">
            <div class="row">

                <div class="col-12">
                    <p class="p-0 m-0 mt-0 mb-2 text-dark">
                    <strong>Ref.:</strong> 
                    {% if referrer.lead %}
                        <a target="_black" href="{% url 'leads:update' referrer.lead.id %}">
                            {{referrer.lead}} ({{referrer.lead.get_status_display}})
                        </a>
                    {% else %}
                        {{referrer.name}}
                    {% endif %}
                    em {{referrer.referring_datetime|date:"d/M/y à\s H:i"}}.</p>
                </div>
              
                <div class="col-12">
                    <p class="mb-2"><strong>Descrição da linha:</strong> {{referrer.short_description}}</p>
                </div>

                {% include 'leads/referrers/referrer_item/list_item_referrer_content_btns_t1_t2_t3.html' %}

                <div class="col-12 mt-2">
                    <a  role='button' 
                        id='leads-call-whatsapp-btn' 
                        href="{% url 'leads:referrer_actions:next' referrer.id %}"
                        class='btn btn-block btn-info'>
                        {% btn_svg_icons 'bootstrap' 'heart-fill' '22px' 'center' 'Próximo' %}
                    </a>
                </div>

            </div>
        </div>
</div>
{% endfor %}
